#users-search-result-box {
    padding: 12px 10px 10px 10px;
    background-color: white;
    border: 1px solid #bdbdbd;
    border-radius: 0 0 4px 4px;
    position: absolute;
    top: calc(100% - 1px);
    overflow-y: auto;
    max-height: 270px;
}

.search-user {
    padding: 8px;
    background-color: #ecf0f0;
    border: 1px solid #c3ced0;
    border-radius: 3px;
}

.results-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.user-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(202, 209, 212);
}

.user-informations-part {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-part {
    flex: 1;
    margin-left: 20px;
}

.open-revoke-role-dialog {
    right: -11px;
    top: -9px;
    position: absolute;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e3e3e3;
    border-radius: 50%;
    border: 1px solid #bfbfbf;
    font-size: 10px;
    cursor: pointer;
}
.open-revoke-role-dialog:hover {
    background-color: #d9d9d9;
}

.select-role-to-grant-button {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    height: max-content;
    background-color: #f3f7f9;
    border: 1px solid #c4ced2;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.select-role-to-grant-button:hover {
    background-color: #dfe7eb;
}

.role-already-granted {
    background-color: #f2f2f2 !important;
    border-color: #d7d7d7 !important;
    cursor: default !important;
}

.already-attached-permission-button-style {
    font-size: 11px;
    border-radius: 4px;
    padding: 7px 12px;
    background-color: #e6ffe5;
    cursor: default;
    text-decoration: none;
    border: 1px solid #99bf98;
    transition: all 0.2s ease;
    font-weight: bold;
    color: #0d460d;
}

.permission-button-style {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 11px;
    border-radius: 4px;
    padding: 4px 8px;
    background-color: #f3f3f3;
    border: 1px solid #ced5d8;
    transition: all 0.2s ease;
    font-weight: bold;
    color: #121314;
}