#post-nav-links-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;
    padding: 16px 0;
}

.post-nav-link {
    color: #2d363e;
    font-size: 12px;
    letter-spacing: 1.2px;
    font-weight: bold;
    text-decoration: none;
}
.post-nav-link:hover {
    color: #389ef2;
}
.post-nav-link-separator {
    fill: #2d363e;
    width: 8px;
    height: 8px;
}

.post-share-section {
    padding: 16px 8px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
    border-bottom: 1px solid #e1e6eb;
}
.post-share-section .share-container {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #4c5357;
    margin-right: 6px;
}

.share-anchor {
    margin: 0 3px;
    width: 24px;
    height: 24px;
}

.share-anchor-icon {
    width: 24px;
    height: 24px;
    fill: #212526;
}

.share-anchor-icon.facebook:hover { fill: rgb(67, 133, 196); }
.share-anchor-icon.linkedin:hover { fill: rgb(47, 138, 225); }
.share-anchor-icon.twitter:hover { fill: rgb(0, 171, 255); }

.post-share-stats-section {
    display: flex;
    align-items: center;
}

#post-box {
    width: 84%;
}

#post-content h1 {
    color: #1f2326;
    font-size: 32px;
    margin: 0 0 36px 0;
    padding-right: 18px;
}

#post-content h2 {
    font-size: 26px;
    margin: 30px 0 20px 0;
}

#post-content h3 {
    font-size: 22px;
    margin: 30px 0 16px 0;
}

#post-content h4 {
    font-size: 18px;
    margin: 26px 0 12px 0;
}

#post-content p {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 16px;
}

#post-content a {
    text-decoration: none;
    line-height: 1.4;
    margin-bottom: 16px;
    color: #389ef2;
}
#post-content a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 1080px) {
    #right-panel-container {
        display: none;
    }
    
    #comments-section {
        width: 100%;
    }

    #post-content h1 {
        font-size: 28px;
        margin: 0 0 28px 0;
        padding-right: 0px;
    }
}

@media only screen and (max-width: 900px) {
    #feature-image-container {
        max-height: 320px;
    }

    #post-box {
        width: 86%;
    }

    #post-content h1 {
        font-size: 24px;
    }

    #post-content h2 {
        font-size: 21px;
    }

    #post-content h3 {
        font-size: 18px;
    }
}

@media only screen and (max-width: 640px) {
    #feature-image-container {
        max-height: 290px;
    }

    #post-box {
        width: 90%;
    }

    #post-content-box {
        padding: 10px;
    }

    #post-content h1 {
        font-size: 22px;
    }

    #post-content h2 {
        font-size: 19px;
    }

    #post-content h3 {
        font-size: 16px;
    }
    
    #post-content p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 480px) {
    #post-box {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    #feature-image-container {
        max-height: 220px;
    }

    #post-nav-links-container {
        padding-top: 0px;
        padding-left: 6px;
    }

    #post-content h1 {
        font-size: 20px;
    }

    #post-content h2 {
        font-size: 17px;
    }

    #post-content h3 {
        font-size: 14px;
    }

    #post-content p {
        font-size: 14px;
    }
}
