
#post-box {
    width: 84%;
}

#post-content-box h1 {
    text-align: center;
    color: #1f2326;
    font-size: 32px;
    margin: 0 0 36px 0;
    padding-right: 18px;
}

#post-content-box p {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 16px;
}