main {
    padding: 18px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(28, 32, 34);
}

#feature-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 390px;
    overflow: hidden;
    border-radius: 4px;
}

#feature-image {
    width: 100%;
}

#body-box {
    display: flex;
    margin-top: 28px;
}

#post-content-box {
    flex: 1;
    padding: 0 12px;
}

#right-panel-container {
    min-width: 346px;
    max-width: 346px;
    padding-left: 20px;
}

.post-meta-text {
    color: #2d363e;
    font-size: 12px;
    letter-spacing: 1.2px;
    font-weight: bold;
}

#post-author {
    display: flex;
    align-items: center;
    margin: 18px 0;
}

#author-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
}

#author-name {
    display: block;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 1.2px;
    color: #007cff;
}
#author-role {
    font-size: 11px;
    font-weight: bold;
    color: #405466;
    letter-spacing: 1.1px;
}

#post-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin: 18px 0;
}

#post-categories .category {
    text-decoration: none;
    color: #389ef2;
}
#post-categories .category:hover {
    color: #2f85cc;
}

#post-categories .category-separator {
    font-size: 10px;
    user-select: none;
    color: #57636c;
}

#post-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin: 18px 0;
}
#post-tags .tag {
    font-size: 12px;
    font-weight: bold;
    color: #325979;
    text-decoration: none;
    padding: 4px 8px;
    background-color: #e9f2fb;
    border-radius: 3px;
}
#post-tags .tag:hover {
    color: #2b4e6b;
    background-color: #deeaf7;
}

#post-square-advertisement-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #2c3237;
    margin: 22px 0;
}

/* comments-section */
#comments-section {
    margin: 36px 0;
}

#comments-title {
    font-size: 22px;
    font-weight: bold;
}

/* report section */
#report-resource-box {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 14px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0003;
}

.report-resource-container {
    position: relative;
    width: 600px;
    padding: 20px;
    border: 1px solid rgb(179, 179, 179);
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 5px 0px #0000001f;
}

.resource-report-option {
    display: flex;
    cursor: pointer;
    margin: 4px 0;
    padding: 8px;
    border-radius: 4px;
}

.resource-report-option:hover {
    background-color: #f7f7f7;
}

.report-body-input-container {
    height: 0px;
    overflow: hidden;
}

.report-body-input {
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    width: 100%;
    padding: 10px;
    margin: 8px 0 2px 0;
    box-sizing: border-box;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 4px;
}

.report-body-input:focus {
    box-shadow: 0 0 0px 3px #def2ff;
    border-color: #64ceff;
}

.post-share-stats-section .post-stats-button {
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 4px;
}
.post-share-stats-section .post-stats-button:hover {
    background-color: #f2f2f2;
}

.post-share-stats-section .stats-icon {
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

.post-claped {
    fill: #007cff;
    color: #007cff;
    background-color: #007cff0d !important;
}