#activities-box {
    margin: 12px 0 26px 0;
}

#first-section {
    display: flex;
}

#first-section .avatar {
    width: 140px;
    height: 140px;
    border-radius: 3px;
}

#first-section .fullname {
    font-size: 32px;
    font-weight: 400;
    color: #202224;
    margin: 0;
}

#first-section .username {
    display: flex;
    font-size: 18px;
    color: #3d4042;
    margin-bottom: 8px;
}

#first-section .about {
    display: flex;
    font-size: 14px;
    color: #3d4042;
    margin: 14px 0;
}

#first-section .meta-section {
    margin-left: 10px;
}

.metas-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

.meta-icon {
    width: 18px;
    height: 18px;
    fill: #585d60;
}

.meta-text {
    margin-top: 2px;
    margin-left: 5px;
    color: #585d60;
}

#first-section .links {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    height: max-content;
}

#activities-section {
    margin: 26px 0;
}

#activities-section .links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

#activities-section .links .link {
    padding: 8px 14px;
    border-radius: 16px;
    text-decoration: none;
    font-size: 13px;
}

#activities-section .links .link:hover {
    background-color: #f3f4f5;
}

.section-selected {
    background-color: #d8ebf7 !important;
    padding: 8px 14px;
    border-radius: 16px;
    color: #202020 !important;
}

.section-selected:hover {
    background-color: #bcd5e4 !important;
}

#activity-content-section {
    margin-top: 14px;
}

#activity-content-section .loading-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 36px;
}

.section-title {
    margin: 4px 0;
    color: #202020;
}

.section-subtitle {
    margin: 0;
    color: #32383c;
}

.section-title-icon {
    fill: #202020;
    width: 24px;
    height: 24px;
    min-width: 16px;
    margin-right: 8px;
}

.pagination-box {
    margin: 8px 0;
    display: flex;
    justify-content: end;
}

#posts-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.line-post-component {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    border: 1px solid #dbe0e3;
    border-radius: 3px;
}

.line-post-component .stats {
    display: flex;
    align-items: center;
    margin-right: 14px;
}

.line-post-component .title {
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

.line-post-component .clap-icon {
    width: 17px;
    height: 17px;
    min-width: 17px;
}

.line-post-component .post-meta {
    font-size: 12px;
    margin-top: 4px;
    color: #50575e;
}