#contact-main {
    max-width: 760px;
}

#contact-form-wrapper {
    width: 640px;
}

.title-icon {
    width: 23px;
    height: 23px;
}

.text {
    line-height: 1.5;
    color: rgb(23, 26, 29);
}

.label {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: rgb(23, 26, 29);
    margin-bottom: 4px;
}

#contact-send-message {
    margin: 14px 0 24px 0;
    padding: 8px 12px;
}

#message {
    height: 120px;
    min-height: 80px;
    max-height: 200px;
}

#limit-message-container {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    background-color: #fbfbfb;
    border-radius: 4px;
    border: 1px solid #dbe5ec;
    margin: 12px 0;
}