body {
    margin: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.flex {
    display: flex;
}

.none {
    display: none !important;
}

.block {
    display: block;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.y-auto-overflow {
    overflow-y: auto;
}

.x-auto-overflow {
    overflow-x: auto;
}

.opacity0 {
    opacity: 0;
}

.toggle-arrow {
    transition: all 0.2s ease;   
}

.align-center {
    display: flex;
    align-items: center;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

.full-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.white {
    color: white;
}

.green {
    color: #2ca82c;
}

.blue {
    color: #2ca0ff;
}

.light-gray {
    color: rgb(57, 57, 57);
}

.dark {
    color: #202224;
}

.bold {
    font-weight: bold;
}

.default-weight {
    font-weight: 400;
}

.fs24 {
    font-size: 24px !important;
}

.fs20 {
    font-size: 20px !important;
}

.fs19 {
    font-size: 19px !important;
}

.fs18 {
    font-size: 18px;
}

.fs17 {
    font-size: 17px;
}

.fs16 {
    font-size: 16px !important;
}

.fs15 {
    font-size: 15px;
}

.fs14 {
    font-size: 14px !important;
}

.fs13 {
    font-size: 13px !important;
}

.fs12 {
    font-size: 12px !important;
}

.fs11 {
    font-size: 11px !important;
}

.fs10 {
    font-size: 10px !important;
}

.fs8 {
    font-size: 8px !important;
}

.size32 {
    height: 32px;
    width: 32px;
}

.size34 {
    height: 34px;
    width: 34px;
}

.size36 {
    height: 36px;
    width: 36px;
}

.size40 {
    height: 40px;
    width: 40px;
}

.size44 {
    height: 44px;
    width: 44px;
}

.size48 {
    height: 48px;
    width: 48px;
}

.size24 {
    width: 24px;
    height: 24px;
}

.size16 {
    width: 16px;
    height: 16px;
}

.size17 {
    width: 17px;
    height: 17px;
}

.size18 {
    width: 18px;
    height: 18px;
}

.size20 {
    width: 20px;
    height: 20px;
}

.size22 {
    width: 22px;
    height: 22px;
}

.size15 {
    height: 15px;
    width: 15px;
}

.size14 {
    height: 14px;
    width: 14px;
}

.size13 {
    height: 13px;
    width: 13px;
}

.size12 {
    height: 12px;
    width: 12px;
}

.size11 {
    height: 11px;
    width: 11px;
}

.size10 {
    height: 10px;
    width: 10px;
}

.size8 {
    height: 8px;
    width: 8px;
}

.size7 {
    height: 7px;
    width: 7px;
}

.size6 {
    height: 6px;
    width: 6px;
}

.no-margin {
    margin: 0;
}

.no-textarea-resize {
    resize: none;
}

.no-underline {
    text-decoration: none;
}

.pointer {
    cursor: pointer;
}

.cursor-not-allowed {
    cursor: not-allowed !important;
}

.my8 {
    margin: 8px 0;
}

.my4 {
    margin: 4px 0;
}

.my2 {
    margin: 2px 0;
}

.mr8 {
    margin-right: 8px !important;
}

.mr4 {
    margin-right: 4px !important;
}

.mb4 {
    margin-bottom: 4px !important;
}

.mb8 {
    margin-bottom: 8px !important;
}

.ml4 {
    margin-left: 4px !important;
}

.ml8 {
    margin-left: 8px !important;
}

.ml16 {
    margin-left: 16px !important;
}

.mt4 {
    margin-top: 4px !important;
}

.mt8 {
    margin-top: 8px !important;
}

.mt2 {
    margin-top: 2px !important;
}

.pl8 {
    padding-left: 8px !important;
}

.m4 {
    margin: 4px;
}

.mx4 {
    margin: 0 4px;
}

.mx8 {
    margin-left: 8px !important;
    margin-right: 8px !important;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.blue-link {
    color: #2ca0ff;
    text-decoration: none;
}

.move-to-right {
    margin-left: auto;
}

.move-to-bottom {
    margin-top: auto !important;
}

.styled-input {
    padding: 8px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #b9b9b9;
}

.styled-input:focus {
    border-color: #64ceff;
    box-shadow: 0 0 0px 3px #def2ff;
}

.input-label {
    display: block;
    font-weight: bold;
}

a, input, textarea {
    outline: none;
}

.width-max-content {
    width: max-content;
}

.full-height {
    height: 100%;
    box-sizing: border-box;
}

.full-width {
    width: 100%;
    box-sizing: border-box;
}

.half-width {
    width: 50%;
    box-sizing: border-box;
}

.full-dimensions {
    height: 100%;
    width: 100%;
}

.typical-button-style {
    padding: 7px 12px;
    cursor: pointer;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    transition: background-color 0.2s ease;
}

.white-bs {
    color: #363942;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
}

.white-bs-disabled {
    color: #797f91;
    background-color: #f4f4f4 !important;
    border: 1px solid #e8e8e8;
    cursor: default;
}

.white-bs:hover {
    background-color: rgb(236, 236, 236);
}

.green-bs {
    color: white;
    background-color: #363942;
}

.dark-bs {
    color: white;
    background-color: #363942;
    border: 1px solid #2d3038;
}
.dark-bs:hover {
    background-color: #27292f;
}
.dark-bs-disabled {
    border-color: #7e8088 !important;
    background-color: #7e8088 !important;
    cursor: default !important;
}

.typical-suboptions-container {
    position: absolute;
    top: calc(100% + 4px);
    background-color: white;
    border: 1px solid ghostwhite;
    border-radius: 3px;
    padding: 8px;
}

.typical-section-style {
    padding: 8px;
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(209, 209, 209);
    border-radius: 3px;
}

.error-container-style {
    padding: 8px 12px;
    background-color: #fff6f6;
    border: 1px solid #f0d4d4;
    color: rgb(228, 48, 48);
    border-radius: 3px;
}

.error-asterisk {
    display: none;
    font-weight: bold;
    color: rgb(228, 48, 48);
}

.inf-rotate {
    animation:spin 1.4s linear infinite;
    -webkit-animation:spin 1.4s linear infinite;
}
@keyframes spin {
    from {transform:none}
    to {transform:rotate(360deg)}
}
@-webkit-keyframes spin {
    from {-webkit-transform:none}
    to {-webkit-transform:rotate(360deg)}
}

.global-viewer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #16171cba;
    z-index: 11111;
}
.close-button-style-1 {
    position: absolute;
    z-index: 5;
    right: 12px;
    top: 12px;
    color: white;
    background-color: #0000003d;
    font-size: 22px;
    padding: 4px 11.1px 6px 11.5px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.8s ease background-color;
}
.close-button-style-1:hover {
    background-color: #0000007a;
}
/* viewer box styles */
.viewer-box-style-1 {
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 3px 10px 0px #3c3c3c;
}
.light-gray-border-bottom {
    border-bottom: 1px solid #e8e8e8;
}


.informative-message-container {
    color: #202224;
    fill: #202224;
    padding: 10px 34px 10px 24px;
    background-color: #f6f8f9;
    border: 1px solid #dbe4e8;
}

.informative-message-container-left-stripe {
    position: absolute;
    width: 8px;
    height: 100%;
    top: -1px;
    left: 0;
}

.close-informative-message-style {
    position: absolute;
    cursor: pointer;
    user-select: none;
    right: 10px;
    padding: 3px;
    font-size: 12px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-informative-message-style:hover {
    background-color: rgb(211, 211, 211);
}

.imcls-green {
    background-color: #57b55d;
    border: 1px solid #57b55d;
}

#top-message-box {
    position: fixed;
    z-index: 55555;
    display: flex;
    justify-content: center;
    left: 0;
    top: 20px;
    width: 100%;
}
#top-error-message-container {
    padding: 10px 30px 10px 10px;
    background-color: #ffefef;
    border: 1px solid #f2d6d6;
    border-radius: 4px;
    max-width: 680px;
    min-width: 140px;
}
#remove-top-message-container-button {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
}
#remove-top-message-container-button .x-icon {
    padding: 4px;
    border-radius: 2px;
}
#remove-top-message-container-button .x-icon:hover {
    background-color: #eed0d0;
}

.suboptions-container {
    display: none;
}

.typical-suboptions-container {
    position: absolute;
    top: calc(100% + 2px);
    padding: 6px;
    background-color: white;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 4px 0px #62626233;
    border-radius: 3px;
}

.simple-line-separator {
    height: 1px;
    width: 100%;
    background-color: #f0f0f0;
}
