body {
    margin: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.flex {
    display: flex;
}

.none {
    display: none !important;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.overflow-hidden {
    overflow: hidden;
}

.scrolly {
    overflow-y: scroll;
}

.y-auto-overflow {
    overflow-y: auto;
}

.x-auto-overflow {
    overflow-x: auto;
}

.sticky-when-bottom-reached {
    position: sticky;
}

.break-word {
    word-break: break-all;
}

.br2 {
    border-radius: 2px;
}
.br3 {
    border-radius: 3px;
}
.br4 {
    border-radius: 4px;
}

.no-wrap {
    white-space: nowrap;
}

.opacity0 {
    opacity: 0;
}

.toggle-arrow {
    transition: all 0.2s ease;
}

.align-center {
    display: flex;
    align-items: center;
}

.align-end {
    display: flex;
    align-items: flex-end;
}

.align-start {
    display: flex;
    align-items: flex-start !important;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.flex-column {
    flex-direction: column;
}

.row-reverse {
    flex-direction: row-reverse;
}

.flex-wrap {
    flex-wrap: wrap;
}

.full-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex1 {
    flex: 1;
}

.white {
    color: white;
}

.black {
    color: black;
}

.red {
    color: #d23a3a;
}

.green {
    color: #2ca82c;
}

.dark-green {
    color: #248a24;
}

.blue {
    color: #2ca0ff !important;
}

.dark-blue {
    color: #2777b9;
}

.blue-when-hover:hover {
    color: #2777b9;
}

.gray {
    color: rgb(29, 29, 29);
}

.light-gray {
    color: rgb(57, 57, 57);
}

.dark {
    color: #202224;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

input.disabled {
    pointer-events:none;
    color: #2F2F2F;
    background: #F0F0F0;
}

.border-box {
    box-sizing: border-box;
}

.default-weight {
    font-weight: 400 !important;
}

.fs24 {
    font-size: 24px !important;
}

.fs20 {
    font-size: 20px !important;
}

.fs19 {
    font-size: 19px !important;
}

.fs18 {
    font-size: 18px;
}

.fs17 {
    font-size: 17px;
}

.fs16 {
    font-size: 16px !important;
}

.fs15 {
    font-size: 15px;
}

.fs14 {
    font-size: 14px !important;
}

.fs13 {
    font-size: 13px !important;
}

.fs12 {
    font-size: 12px !important;
}

.fs11 {
    font-size: 11px !important;
}

.fs10 {
    font-size: 10px !important;
}

.fs8 {
    font-size: 8px !important;
}

.fs7 {
    font-size: 7px !important;
}

.size32 {
    height: 32px;
    width: 32px;
}

.size34 {
    height: 34px;
    width: 34px;
}

.size36 {
    height: 36px;
    width: 36px;
}

.size40 {
    height: 40px;
    width: 40px;
}

.size44 {
    height: 44px;
    width: 44px;
}

.size48 {
    height: 48px;
    width: 48px;
}

.size60 {
    height: 60px;
    width: 60px;
}

.size28 {
    width: 28px;
    height: 28px;
}

.size24 {
    width: 24px;
    height: 24px;
}

.size23 {
    width: 23px;
    height: 23px;
}

.size16 {
    width: 16px;
    height: 16px;
}

.size17 {
    width: 17px;
    height: 17px;
}

.size18 {
    width: 18px;
    height: 18px;
}

.size20 {
    width: 20px;
    height: 20px;
}

.size22 {
    width: 22px;
    height: 22px;
}

.size15 {
    height: 15px;
    width: 15px;
}

.size14 {
    height: 14px;
    width: 14px;
}

.size13 {
    height: 13px;
    width: 13px;
}

.size12 {
    height: 12px;
    width: 12px;
}

.size11 {
    height: 11px;
    width: 11px;
}

.size10 {
    height: 10px;
    width: 10px;
}

.size8 {
    height: 8px;
    width: 8px;
}

.size7 {
    height: 7px;
    width: 7px;
}

.size6 {
    height: 6px;
    width: 6px;
}

figure {
    margin: 0;
}

.no-margin {
    margin: 0;
}

.no-textarea-resize {
    resize: none;
}

.no-textarea-x-resize {
    resize: vertical;
}

.no-underline {
    text-decoration: none;
}

.text-center {
    text-align: center;
}
.text-start {
    text-align: start;
}

.word-break {
    word-break: break-all;
}

.pointer {
    cursor: pointer;
}

.default-cursor {
    cursor: default !important;
}

.lh15 {
    line-height: 1.5;
}

.rounded {
    border-radius: 50%;
}

.link-style {
    color: #2ca0ff;
    text-decoration: none;
    font-weight: bold;
}

.cursor-not-allowed {
    cursor: not-allowed !important;
}

.red-text-clickable {
    padding: 0;
    border: none;
    background: none;
}

.my12 {
    margin: 12px 0;
}

.my8 {
    margin: 8px 0;
}

.my4 {
    margin: 4px 0;
}

.my2 {
    margin: 2px 0;
}

.mr10 {
    margin-right: 10px !important;
}

.mr8 {
    margin-right: 8px !important;
}

.mr6 {
    margin-right: 6px !important;
}

.mr4 {
    margin-right: 4px !important;
}

.mb4 {
    margin-bottom: 4px !important;
}

.mb2 {
    margin-bottom: 2px !important;
}

.mb8 {
    margin-bottom: 8px !important;
}

.ml4 {
    margin-left: 4px !important;
}

.ml8 {
    margin-left: 8px !important;
}

.ml16 {
    margin-left: 16px !important;
}

.mt4 {
    margin-top: 4px !important;
}

.mt8 {
    margin-top: 8px !important;
}

.mt2 {
    margin-top: 2px !important;
}

.pl8 {
    padding-left: 8px !important;
}

.pt8 {
    padding-top: 8px;
}

.px8 {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.py4 {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.m4 {
    margin: 4px;
}

.mx4 {
    margin: 0 4px;
}

.mx8 {
    margin-left: 8px !important;
    margin-right: 8px !important;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.blue-link {
    color: #2ca0ff;
    text-decoration: none;
}

.hide-file-input-style {
    position: absolute;
    height: 220%;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

.move-to-right {
    margin-left: auto;
}

.move-to-bottom {
    margin-top: auto !important;
}

.styled-input {
    padding: 8px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #b9b9b9;
}

.styled-input:focus {
    border-color: #64ceff;
    box-shadow: 0 0 0px 3px #def2ff;
}

.input-label {
    display: block;
    font-weight: bold;
}

a,
input,
textarea {
    outline: none;
}

.width-max-content {
    width: max-content;
}

.height-max-content {
    height: max-content;
}

.full-height {
    height: 100%;
    box-sizing: border-box;
}

.full-width {
    width: 100%;
    box-sizing: border-box;
}

.half-width {
    width: 50%;
    box-sizing: border-box;
}

.full-dimensions {
    height: 100%;
    width: 100%;
}

.typical-button-style {
    padding: 7px 12px;
    cursor: pointer;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    transition: background-color 0.2s ease;
}

.white-bs {
    color: #363942;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
}

.white-bs-disabled {
    color: #797f91;
    background-color: #f4f4f4 !important;
    border: 1px solid #e8e8e8;
    cursor: default;
}

.white-bs:hover {
    background-color: rgb(236, 236, 236);
}

.green-bs {
    color: white;
    background-color: #43bb67;
}
.green-bs:hover {
    background-color: #41ad62;
}
.green-bs-disabled {
    background-color: #8bbd9b !important;
    cursor: default !important;
}

.dark-bs {
    color: white;
    background-color: #363942;
    border: 1px solid #2d3038;
}

.dark-bs:hover {
    background-color: #27292f;
}

.dark-bs-disabled {
    border-color: #7e8088 !important;
    background-color: #7e8088 !important;
    cursor: default !important;
}

.red-bs {
    color: white;
    background-color: #ea4747;
}

.red-bs:hover {
    background-color: #c83636;
}

.red-bs-disabled {
    background-color: #ec8282 !important;
    border-color: #ec8282 !important;
    cursor: default !important;
}

.typical-suboptions-container {
    position: absolute;
    z-index: 1;
    top: calc(100% + 4px);
    background-color: white;
    border: 1px solid ghostwhite;
    border-radius: 3px;
    padding: 8px;
}

.typical-section-style {
    padding: 8px;
    background-color: white;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 3px;
}

.error-container-style {
    padding: 8px 12px;
    background-color: #fff6f6;
    border: 1px solid #f0d4d4;
    color: rgb(228, 48, 48);
    border-radius: 3px;
}

.error-asterisk {
    display: none;
    font-weight: bold;
    color: rgb(228, 48, 48);
}

.inf-rotate {
    animation: spin 1.4s linear infinite;
    -webkit-animation: spin 1.4s linear infinite;
}

@keyframes spin {
    from {
        transform: none
    }

    to {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: none
    }

    to {
        -webkit-transform: rotate(360deg)
    }
}

.global-viewer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #16171cba;
    z-index: 11111;
}

.close-button-style-1 {
    position: absolute;
    z-index: 5;
    right: 12px;
    top: 12px;
    color: white;
    background-color: #0000003d;
    font-size: 22px;
    padding: 4px 11.1px 6px 11.5px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.8s ease background-color;
}

.close-button-style-1:hover {
    background-color: #0000007a;
}

/* viewer box styles */
.viewer-box-style-1 {
    width: 560px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 3px 10px 0px #3c3c3c;
}

.global-viewer-title {
    font-size: 16px;
    font-weight: bold;
    color: #202224;
}

.light-gray-border-bottom {
    border-bottom: 1px solid #e8e8e8;
}


.informative-message-container {
    color: #202224;
    fill: #202224;
    padding: 10px 34px 10px 24px;
    background-color: white;
    border: 1px solid #dbe4e8;
}

.informative-message-container-left-stripe {
    position: absolute;
    width: 8px;
    height: 100%;
    top: -1px;
    left: 0;
}

.close-informative-message-style {
    position: absolute;
    cursor: pointer;
    user-select: none;
    right: 10px;
    padding: 3px;
    font-size: 12px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-informative-message-style:hover {
    background-color: rgb(211, 211, 211);
}

.imcls-green {
    background-color: #57b55d;
    border: 1px solid #57b55d;
}

.imcls-red {
    background-color: #df5050;
    border: 1px solid #df5050;
}

#top-message-box {
    position: fixed;
    z-index: 555556;
    display: flex;
    justify-content: center;
    left: 0;
    top: 20px;
    width: 100%;
}

#top-error-message-container {
    padding: 12px 32px 12px 12px;
    background-color: #ffefef;
    border: 1px solid #f2d6d6;
    border-radius: 4px;
    max-width: 680px;
    min-width: 140px;
}

#top-green-message-container {
    padding: 12px 32px 12px 12px;
    background-color: #effff0;
    border: 1px solid #dbf2d6;
    border-radius: 4px;
    max-width: 680px;
    min-width: 140px;
}

#top-warning-message-container {
    padding: 12px 32px 12px 12px;
    background-color: #f9fdff;
    border: 1px solid #cbd4d7;
    border-radius: 4px;
    max-width: 680px;
    min-width: 140px;
}

.remove-top-message-container-button {
    cursor: pointer;
    position: absolute;
    top: 11px;
    right: 8px;
}

.remove-top-message-container-button .x-icon {
    padding: 4px;
    border-radius: 2px;
}

.remove-top-message-container-button .x-icon:hover {
    background-color: #e0e8eb;
}

.suboptions-container {
    display: none;
}

.typical-suboptions-container {
    position: absolute;
    top: calc(100% + 2px);
    padding: 6px;
    background-color: white;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 4px 0px #62626233;
    border-radius: 3px;
}

.suboption-style-1 {
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 13px;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}
.suboption-style-1:hover {
    background-color: rgb(236, 240, 243);
}

.suboption-style-2 {
    display: flex;
    cursor: pointer;
    text-decoration: none;
    color: rgb(14, 15, 15);
    font-size: 13px;
    padding: 5px 8px;
    border-radius: 2px;
    transition: background-color 0.2s ease;
}
.suboption-style-2:hover {
    background-color: rgb(231, 233, 235);
}

.simple-line-separator {
    height: 1px;
    width: 100%;
    background-color: #f0f0f0;
}

.custom-dropdown-box {
    position: relative;
}

.custom-dropdown-button-style {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    background-color: white;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
}

.custom-dropdown-items-container {
    display: none;
}

.custom-dropdown-items-container-style {
    position: absolute;
    z-index: 5;
    top: calc(100% + 2px);
    padding: 4px;
    background-color: white;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px;
    user-select: none;
    width: max-content;
}

.custom-dropdown-item-style {
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.dropdown-style-1 {
    padding: 3px;
    border-radius: 4px;
    border: 1px solid #b9c5ce;
    background-color: #f5f7f9;
    font-size: 12px;
    cursor: pointer;
}
.dropdown-style-1:hover {
    background-color: #eff1f2;
}
.dropdown-style-1 option {
    padding: 6px;
}

.dropdown-style-2 {
    padding: 8px 10px;
    border-radius: 3px;
    border: 1px solid #b9c5ce;
    background-color: #f5f7f9;
    font-size: 12px;
    cursor: pointer;
}
.dropdown-style-2:hover {
    background-color: #eff1f2;
}
.dropdown-style-2 option {
    padding: 6px;
}

.custom-dropdown-item-style:hover {
    background-color: rgb(243, 243, 243);
}

.custom-dropdown-item-selected-style {
    background-color: rgb(238, 238, 238) !important;
}

.menu-buttons-style-1-wrapper {
    position: relative;
    display: flex;
    border-bottom: 1px solid #c8c8c8;
    user-select: none;
}

.menu-button-style-1 {
    position: relative;
    cursor: pointer;
    padding: 8px 12px;
    font-size: 13px;
    color: #202224;
    border: 1px solid white;
    border-bottom: unset;
}

.menu-button-style-1:hover {
    color: #2ca0ff;
}

.menu-button-style-1-selected {
    color: #202224 !important;
    border-radius: 3px 3px 0 0;
    border-color: #c8c8c8;
}

.menu-button-style-1-selected-strip {
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: white;
    left: 0;
    bottom: -1px;
}

.button-style-1 {
    cursor: pointer;
    background-color: #f6f9fb;
    display: flex;
    padding: 10px 21px;
    border: 1px solid #d7dbdf;
    border-radius: 3px;
}

.button-style-1:hover {
    background-color: #ecf2f7;
}

.button-style-2 {
    font-size: 14px;
    cursor: pointer;
    color: #4b5155;
    user-select: none;
    transition: all 0.3s ease;
}
.button-style-2:hover {
    color: #1e2022;
}

.button-style-3 {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: white;
    background-color: #32373c;
    border-radius: 2px;
    padding: 6px 12px;
    cursor: pointer;
    transition: all 0.1s ease;
}
.button-style-3:hover {
    background-color: #222529;
}

.button-style-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    padding: 4px 6px;
    border-radius: 3px;
}
.button-style-4:hover {
    background-color: #f7f7f7;
}

.button-style-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    color: #080808;
    padding: 4px 6px;
    border-radius: 3px;
}
.button-style-5:hover {
    background-color: #f7f7f7;
}

.button-style-6 {
    padding: 8px 14px;
    border-radius: 16px;
    text-decoration: none;
    font-size: 13px;
}

.button-style-6:hover {
    background-color: #f3f4f5;
}

.bs6-selected {
    background-color: #d8ebf7 !important;
    padding: 8px 14px;
    border-radius: 16px;
    color: #202020 !important;
}

.bs6-selected:hover {
    background-color: #bcd5e4 !important;
}

#basic-bottom-left-notification-container {
    position: fixed;
    display: flex;
    z-index: 99555;
    bottom: 26px;
    left: 26px;
    padding: 16px;
    max-width: 340px;
    box-sizing: border-box;
    color: white;
    background-color: #0e0e0ef2;
    border-radius: 8px;
}

.pagination-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 26px;
    border-radius: 3px;
    background-color: #e9eef2;
    color: #171717;
    fill: #171717;
    text-decoration: none;
    margin: 0 2px;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #c7d2dd;
    user-select: none;

    transition: all 0.3s ease;
}
.pagination-button:hover {
    background-color: #dfe6ec;
}

.pagination-button-current-page {
    background-color: #fff !important;
    color: #007cff !important;
}

.pagination-button-disabled {
    background-color: #e6e6e6 !important;
    fill: gray !important;
}

.pagination-separator {
    margin: 0 4px;
    color: rgb(63, 63, 63);
    letter-spacing: 1.5px;
    font-size: 11px;
    user-select: none;
}

.search-input-style-1 {
    padding: 8px 10px 8px 34px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #b9b9b9;
}
.search-input-icon-1 {
    position: absolute;
    width: 13px;
    height: 13px;
    top: 11px;
    left: 12px;
}
.search-button-style-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    margin-left: -3px;
    height: 34px;
    border: 1px solid #b9b9b9;
    background-color: #f6fafd;
    color: #171717;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}
.search-button-style-1:hover {
    background-color: #e4eaee;
}
.search-icon-style-1 {
    width: 13px;
    height: 13px;
    position: absolute;
    display: flex;
    left: 12px;
}

.search-input-style-2 {
    padding: 7px 7px 8px 30px;
    display: block;
    width: 300px;
    box-sizing: border-box;
    border-radius: 2px;
    color: white;
    background-color: #0f0f0f;
    border: 1px solid #373737;
}

.search-button-style-2 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 10px;
    margin-left: -3px;
    height: 32px;
    border: 1px solid #b9b9b9;
    background-color: #f1f3f4;
    color: #171717;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

.input-style-1 {
    padding: 8px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #b9b9b9;
}

.input-button-style-1 {
    display: flex;
    font-size: 12px;
    font-weight: bold;
    background-color: rgb(247, 247, 247);
    padding: 8px;
    margin-left: -2px;
    height: 16px;;
    color: #111;
    border-radius: 0 3px 3px 0;
    border: 1px solid #b9b9b9;
    cursor: pointer;
}
.input-button-style-1:hover {
    background-color: white;
}

.input-style-2 {
    padding: 10px 14px;
    display: block;
    box-sizing: border-box;
    border-radius: 3px;
    border: unset;
}
.input-style-2:focus {
    outline: 2px solid #21b6ff;
}

.x-close-container-style {
    position: absolute;
    z-index: 1;
    right: 4px;
    top: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 20px;
    width: 20px;
    min-width: 20px;
    border-radius: 50%;
    background-color: #0000006b;
    color: white;
}

.x-close-container-style:hover {
    background-color: black;
}

.x-close {
    user-select: none;
    font-size: 10px;
}

.tooltip-box {
    position: relative;
}

.tooltip {
    display: none;
}

.tooltip-style-1 {
    position: absolute;
    top: calc(100% + 3px);
    padding: 10px 14px;
    background-color: rgb(48, 53, 60);
    color: white;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
}

footer {
    overflow: hidden;
    width: 100%;
    padding: 42px;
    padding-bottom: 26px;
    margin-top: auto;
    box-sizing: border-box;
    background-color: #151617;
    color: white;
}

footer .logo-section {
    align-self: center;
}

footer .logo {
    fill: white;
    height: 36px;
}

.title-feather {
    width: 20px;
    height: 20px;
}

footer .footer-content {
    display: flex;
    align-items: baseline;
}

footer .paragraph-after-logo {
    font-size: 12px;
    letter-spacing: 1.6px;
    margin: 0 0 12px 10px;
}

footer .follow-us-container {
    margin-left: 60px;
}

footer .follow-us-container .title {
    font-weight: bold;
    white-space: nowrap;

}

footer .follow-us-container svg {
    fill: white;
}

.youtube-svg:hover {
    fill:rgb(255, 53, 53);
}

.linkedin-svg:hover {
    fill:#179bdd;
}

.facebook-svg:hover {
    fill:#7bc0fd;
}

.twitter-svg:hover {
    fill:#56BBFF;
}

footer .links-wrapper {
    display: flex;
    gap: 46px;
    margin-left: 60px;
}

footer .links-wrapper .links-title {
    font-weight: bold;
    cursor: default;
    margin-top: 8px;
}

footer .links-wrapper .link {
    color: rgb(212, 212, 212);
    display: flex;
    margin: 7px 0;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

footer .links-wrapper .link:hover {
    color: white;
}

footer .copyrights-notice {
    margin: 20px 0 0 0;
    text-align: center;
    letter-spacing: 1.6px;
    font-size: 12px;
}

.page-padding {
    padding: 14px 16px 0 16px;
}

.title-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.title-style {
    font-size: 25px;
    color: #15171a;
    margin: 0;
}

.page-path-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 12px;
    gap: 4px;
}

.page-path {
    display: flex;
    align-items: center;
    color: #111;
    font-weight: bold;
    font-size: 13px;
}
.page-path:hover {
    color: #007cff;
    fill: #007cff;
}

.page-path-wrapper a {
    text-decoration: none;
}

.fade-box {
    background-color: rgb(233, 236, 240);
    transition: background-color 0.8s ease;
}

.fetch-more-style {
    border-bottom: unset !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    margin-bottom: 0 !important;
}

/* newsletter */
#newsletter-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 20px;
    border: 1px solid #d9e1ea;
    border-radius: 4px;
    line-height: 1.5;
    color: #2c3237;
}
#newsletter-box .icon {
    width: 46px;
    height: 46px;
    margin-bottom: 12px;
}
#newsletter-box .title {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.2px;
}
#newsletter-box .description {
    margin: 12px 0;
    letter-spacing: 1.1px;
    font-size: 13px;
}
#newsletter-subscribe-opener-button {
    padding: 10px 18px;
    color: #354049;
    border: 1px solid #cad4df;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.4px;
    transition: all 0.3s ease;
    user-select: none;
    cursor: pointer;
}
#newsletter-subscribe-opener-button:hover {
    background-color: #e5ebf3;
}
#newsletter-viewer-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    box-sizing: border-box;
    padding: 56px 40px;
    background-color: #2e3842;
    border-radius: 3px;
    margin-top: -20px;
    text-align: center;
}
#newsletter-loading-section {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    border-radius: 3px;
    height: 180px;
    width: 100%;
    background-color: #2e3842;
}
#newsletter-viewer-container .logo {
    width: 32%;
    fill: white;
    margin-bottom: 16px;
}
#newsletter-viewer-container .title {
    color: white;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.4px;
}
#newsletter-viewer-container .description {
    color: #ccd3df;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 12px 0;
    line-height: 1.6;
}
#newsletter-viewer-container .error {
    color: #ffab00;
    font-weight: bold;
    font-size: 13px;
    margin: 4px;
}
#newsletter-viewer-container .hide-error {
    color: #fffcf5;
    cursor: pointer;
    font-weight: bold;
    font-size: 10px;
    margin-left: 4px;
    margin-top: -2px;
    padding: 4px 7px;
    background-color: #3F4953;
    border-radius: 50%;
    display: flex;
}
#newsletter-viewer-container .name, #newsletter-viewer-container .email {
    width: 60%;
    margin: 8px 0;
}
#newsletter-subscribe-button {
    display: flex;
    align-items: center;
    padding: 12px 18px;
    margin-top: 12px;
    background-color: #45525e;
    border-radius: 3px;
    color: #c0d1e3;
    fill: #c0d1e3;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1.2px;
    cursor: pointer;
    user-select: none;
}
.newsletter-subscribe-button-disabled {
    background-color: #4a5764 !important;
    color: #d5e6f8 !important;
    fill: #d1e0f0 !important;
    cursor: default !important;
}
#newsletter-subscribe-button:hover {
    background-color: #4a5764;
    color: #d5e6f8;
    fill: #d1e0f0;
}
#newsletter-viewer .v-icon {
    width: 26px;
    margin-bottom: 14px;
}

/* ads */
.addd-250x250 {
    margin: 12px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ad-title {
    margin: 0 0 4px 0;
    text-align: center;
    font-size: 9px;
    letter-spacing: 1.5px;
    font-weight: bold;
    color: #2d2d2d;
}
.addd-250x250 .section {
    /* width: 250px; */
    width: 100%;
    height: 250px;
    background-color: #f1f2f2;
}

/* featured posts */

#featured-posts {
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid #c6d0d9;
    border-radius: 3px;
}

#featured-posts .section-title {
    color: #151617;
    font-size: 20px;
    margin: 0;
}

#featured-posts .section-title-icon {
    width: 20px;
    height: 20px;
    margin-top: -2px;
    margin-right: 8px !important;
}

#featured-posts .post {
    display: flex;
    flex-direction: column;
}

#featured-posts .title {
    text-decoration: none;
    color: #080808;
    font-size: 14px;
    font-weight: bold;
}
#featured-posts .title:hover {
    color: #1164bd;
}

#featured-posts .category {
    margin-bottom: 1px;
    font-size: 11px;
    text-decoration: none;
    color: #118af4;
}

#image-viewer .image-container {
    width: 800px;
    max-width: 800px;
    height: 510px;
    max-height: 510px;
}

@media only screen and (max-width: 1000px) {
    footer {
        padding: 24px;
    }

    footer .links-wrapper {
        gap: 30px;
        margin-left: 30px;
    }

    footer .follow-us-container {
        margin-left: 26px;
    }

    footer .paragraph-after-logo {
        font-size: 11px;
    }

    #image-viewer .image-container {
        width: 700px;
        max-width: 700px;
        height: 480px;
        max-height: 480px;
    }
}

@media only screen and (max-width: 780px) {
    footer .footer-content {
        flex-direction: column;
    }

    footer .logo-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer .links-wrapper .links-title {
        font-size: 11px;
    }

    footer .links-wrapper .link {
        font-size: 9px;
    }

    footer .paragraph-after-logo {
        font-size: 11px;
        text-align: center;
        margin: 4px 0 8px 0;
        line-height: 1.6;
    }

    footer .links-wrapper {
        margin-left: 0;
    }

    footer .sign-up-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer .text {
        text-align: center;
    }

    footer .follow-us-container {
        margin-left: 0;
    }

    footer .follow-us-container .title {
        font-size: 11px;
    }

    #image-viewer .image-container {
        width: 590px;
        max-width: 590px;
        height: 400px;
        max-height: 400px;
    }
}

@media only screen and (max-width: 600px) {
    .pagination-button {
        width: 22px;
        height: 22px;
        font-size: 10px;
    }
}

@media only screen and (max-width: 480px) {
    footer .copyrights-notice {
        font-size: 9px;
    }

    #image-viewer .image-container {
        width: 460px;
        max-width: 460px;
        height: 340px;
        max-height: 340px;
    }
}

@media only screen and (max-width: 360px) {
    #image-viewer .image-container {
        width: 310px;
        max-width: 310px;
        height: 310px;
        max-height: 310px;
    }
}