#discover-left-panel {
    position: fixed;
    left: 0;
    padding: 10px;
    height: calc(100% - 54px);
    width: 270px;
    box-sizing: border-box;
    background-color: #f3f6f9;
    border-right: 1px solid #dde5ec;
}

main {
    margin-left: 270px;
}

#discover-main {
    flex: 1;
}

#discover-right-panel {
    width: 270px;
    min-width: 270px;
    background-color: #f3f6f9;
    border-right: 1px solid #dde5ec;
    height: 100px;
    margin-left: 8px;
}

#posts-box {
    margin-top: 12px;
}