header {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    height: 51px;
    background-color: rgb(23, 24, 26);
    padding: 0 10px;
    border-bottom: 1px solid #121313;
}

body {
    margin-top: 51px !important;
}

#header-logo {
    height: 32px;
    margin-top: 3px;
    fill: white;
    stroke: white;
    transition: fill 0.1s ease;
}
#header-logo:hover {
    fill: #25abff;
    stroke: #25abff;
}

.logo-menu-separator {
    margin: 0 16px;
    color: white;
    user-select: none;
}

.header-menu-modile-dot {
    color: white;
    margin: 0 8px;
    user-select: none;
}

.header-menu-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-menu-mobile-button {
    display: none;
}

.header-menu-button {
    font-size: 13px;
    display: flex;
    align-items: center;
    width: max-content;
    color: white;
    fill: white;
    padding: 6px 14px;
    text-decoration: none;
    cursor: pointer;
    user-select: none;

    height: 100%;
    box-sizing: border-box;
}
.header-menu-button:hover {
    color: #55bfff;
    fill: #55bfff;
}
.header-menu-button-selected {
    color: #55bfff !important;
    fill: #55bfff !important;
}
.header-menu-button-strip {
    position: absolute;
    top: calc(100% + 2px);
    border-radius: 2px;
    width: 0%;
    height: 2px;
    background-color: #55bfff;
    transition: width 0.3s ease;
}
.header-menu-button .icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.header-right-part {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: auto;
    color: white;
}

.header-round-button {
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
    transition: all 0.4s ease;
}
.header-round-button svg {
    display: flex;
    width: 18px;
    height: 18px;
}
.header-round-button:hover {
    background-color: rgb(12, 13, 14);
}

.header-login-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
}
.header-login-button-style {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 100%;
    color: #efefef;
    padding: 0 16px;
    transition: all 0.4s ease;
}
.header-login-button-style:hover {
    background-color: rgb(15, 16, 17);   
}

.header-auth-user-avatar-container {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-color: rgb(11, 12, 14);
    overflow: hidden;
}
.header-auth-user-avatar {
    height: 100%;
    width: 100%;
}
.header-auth-user-options-header-avatar {
    width: 33px;
    height: 33px;
    border-radius: 50%;
}
.header-auth-username {
    font-size: 13px;
    font-weight: bold;
    margin-left: 8px;
}
#header-auth-user-options-container {
    position: absolute;
    z-index: 3;
    top: calc(100% + 1px);
    right: 0;
    width: 195px;
    border-radius: 0 0 3px 3px;
    background-color: white;
    color: black;
    border: 1px solid rgb(213, 220, 225);
    border-top: unset;
}
#header-auth-user-options-header {
    padding: 6px 10px;
    border-bottom: 1px solid rgb(213, 220, 225);
}

#header-logout-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#header-discover-box {
    position: absolute;
    display: none;
    left: 0;
    top: 51px;
    width: 100%;
    padding: 18px;
    box-sizing: border-box;
    background-color: rgb(23, 24, 26);
    color: white;
}

#header-discover-sections-box {
    display: flex;
    margin: 16px 20px;
    gap: 20px;
}

#header-featured-posts-box {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 574px;
    margin: 0 20px;
}

#header-featured-posts-section {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 8px;
    height: 200px;
    max-height: 200px;
    overflow: hidden;
    background-color: #111;
    border-radius: 4px;
}

.header-featured-post {
    display: flex;
    width: 100%;
    height: 100%;
}

.header-featured-post-nav {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #111;
    cursor: pointer;
    border: 3px solid rgb(23, 24, 26);
}
.header-featured-post-nav:hover {
    background-color: rgb(9, 9, 9);
}
.header-featured-post-nav .arrow {
    width: 14px;
    height: 14px;
    fill: white;
}
.header-featured-post-nav.top {
    top: -27px;
    right: 100px;
}
.header-featured-post-nav.bottom {
    bottom: -27px;
    right: 100px;
}

.header-featured-post-thumbnail-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #272b31;
    width: 50%;
    height: 200px;
    border-radius: 3px 0 0 3px;
    overflow: hidden;
}
.header-featured-post-thumbnail-container .f {
    width: 45px;
    height: 45px;
    fill: #8f98a6;
}

.header-featured-post-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 12px;
    box-sizing: border-box;
    color: #e8e8e8;
}

.header-featured-post-content .title {
    display: block;
    color: #e8e8e8;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    margin-bottom: 8px;
}

#header-discover-title {
    font-size: 20px;
    letter-spacing: 2px;
}

.header-discover-section-title {
    display: block;
    user-select: none;
    cursor: default;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1.2px;
    color: #dde4ea;
    margin-bottom: 12px;
}

#header-discover-expand-button {
    width: 12px;
    min-width: 12px;
    height: 12px;
    padding: 3px;
    margin-left: -6px;
    margin-right: 6px;
    border-radius: 50%;
    background-color: #272b31;
    fill: white;
    cursor: pointer;
    transition: all 0.2s ease;
}
#header-discover-expand-button:hover {
    background-color: #3b414a;   
}

.close-discover-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 34px;
    width: 34px;
    min-width: 34px;
    border-radius: 50%;
    background-color: #0000006b;
    color: white;
    margin-left: 16px;
    font-size: 15px;
}
.close-discover-panel:hover {
    background-color: #000;
}

header .link {
    display: flex;
    color: #ececec;
    text-decoration: none;
    margin: 8px;
    font-size: 14px;
}
header .link:hover {
    color: white;
}

/* search */
#header-search-box {
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    position: absolute;
    left: 0;
    top: calc(100% + 1px);
    width: 100%;
    height: 70px;
    background-color: rgba(3, 5, 6, .95);
}

#header-search-container {
    width: 80%;
    display: flex;
    align-items: center;
}

#header-search-input {
    flex: 1;
    padding: 26px 35px 25px 0;
    background-color: unset;
    border: none;
    font-size: 16px;
    color: white;
}
#header-search-icon {
    width: 13px;
    height: 13px;
    fill: white;
    margin-right: 12px;
}
#header-search-button {
    height: 70px;
    width: 90px;
    padding: 12px;
    display: flex;
    align-items: center;
    border: unset;
    background-color: #0f1314;
    color: white;
    justify-content: center;
    cursor: pointer;
}
#header-search-button:hover {
    background-color: #171e22;
}

#header-search-button-icon {
    width: 16px;
    height: 16px;
    fill: white;
}

#header-languages-box {
    position: absolute;
    z-index: 3;
    top: calc(100% + 7px);
    right: 0;
    width: 146px;
    border-radius: 0 0 3px 3px;
    background-color: white;
    border: 1px solid rgb(213, 220, 225);
    border-top: unset;
}

#header-i18n-mobile-wrapper {
    display: none;
}

#header-auth-mobile-section {
    display: none;
    color: white;
}

@media only screen and (min-width: 1001px) {
    .header-menu {
        display: flex !important;
    }

    .header-menu-wrapper .header-menu-modile-dot {
        display: none;
    }
}

@media only screen and (max-width: 1080px) {
    .header-auth-username {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    .header-auth-username {
        display: none;
    }

    .logo-menu-separator {
        display: none;
    }

    .header-menu {
        position: absolute;
        left: 0;
        top: 51px;
        display: none;
        width: 100%;
        background-color: rgb(23, 24, 26);
    }

    .header-menu-wrapper {
        margin-left: auto;
        display: flex;
        align-items: center;
    }

    .header-menu-container {
        padding: 30px;
        gap: 36px;
    }

    #header-discover-expand-button {
        display: none;
    }

    .header-right-part {
        margin-left: 0;
    }

    .header-menu-mobile-button {
        display: block;
    }

    .header-menu-modile-dot {
        display: flex;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1000px) {
    .header-menu-container {
        gap: 16px;
    }

    .header-menu-button {
        font-size: 15px;
    }

    .header-menu-button .icon {
        width: 17px;
        height: 17px;
        margin-right: 12px;
    }
}

@media only screen and (max-width: 700px) {
    header {
        padding: 0 14px 0 10px;
    }

    #header-logo {
        height: 26px;
    }

    .header-round-button {
        padding: 8px;
    }

    .header-menu-modile-dot {
        margin: 0 6px;
    }

    .header-login-wrapper {
        display: none;
    }

    .header-i18n-button {
        display: none !important;
    }

    .header-menu-container {
        flex-direction: column;
    }

    .header-menu-button {
        font-size: 17px;
    }

    .header-menu-button .icon {
        width: 20px;
        height: 20px;
        margin-right: 12px;
    }

    #header-i18n-mobile-wrapper {
        display: block;
    }
    #header-i18n-mobile-button .arrow {
        width: 14px;
        height: 14px;
        margin-top: 4px;
        margin-left: 5px;
    }
    .header-i18n-mobile-item {
        padding: 12px 0;
        fill: white;
        color: white;
        display: flex;
        align-items: center;
    }

    #header-search-container {
        width: 100%;
    }

    #header-search-button {
        height: 62px;
    }

    #header-search-input {
        font-size: 14px;
        padding: 20px;
    }

    #header-search-icon {
        display: none;
    }

    #header-search-box {
        height: 62px;
    }

    #header-auth-mobile-section {
        display: block;
    }

    #header-auth-mobile-section .avatar-container, #header-auth-mobile-section .avatar{
        width: 34px;
        height: 34px;
        border-radius: 50%;
        margin-right: 8px;
    }

    .header-login-button-style {
        padding: 12px !important;
    }
}