header {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    height: 51px;
    background-color: rgb(23, 24, 26);
    padding: 0 10px;
    border-bottom: 1px solid #121313;
}

body {
    margin-top: 51px !important;
}

#header-logo {
    height: 32px;
    margin-top: 3px;
    fill: white;
    stroke: white;
    transition: fill 0.1s ease;
}
#header-logo:hover {
    fill: #25abff;
    stroke: #25abff;
}

.logo-menu-separator {
    color: white;
    font-size: 8px;
    user-select: none;
    margin: 0 16px;
}

.header-menu-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.header-menu-button {
    font-size: 13px;
    display: flex;
    align-items: center;
    width: max-content;
    color: white;
    fill: white;
    padding: 6px 14px;
    text-decoration: none;
    cursor: pointer;

    height: 100%;
    box-sizing: border-box;
}
.header-menu-button:hover {
    color: #55bfff;
    fill: #55bfff;
}
.header-menu-button-strip {
    position: absolute;
    top: calc(100% + 2px);
    border-radius: 2px;
    width: 0%;
    height: 2px;
    background-color: #55bfff;
    transition: width 0.3s ease;
}

.header-right-part {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: auto;
    color: white;
}

.header-round-button {
    border-radius: 50%;
    padding: 10px;
    transition: all 0.4s ease;
}
.header-round-button svg {
    display: flex;
    width: 18px;
    height: 18px;
}
.header-round-button:hover {
    background-color: rgb(12, 13, 14);
}

.header-login-wrapper {
    position: relative;
    height: 100%;
}
.header-login-button-style {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 100%;
    color: #efefef;
    padding: 0 16px;
    transition: all 0.4s ease;
}
.header-login-button-style:hover {
    background-color: rgb(15, 16, 17);   
}

.header-auth-user-avatar-container {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-color: rgb(11, 12, 14);
    overflow: hidden;
}
.header-auth-user-avatar {
    height: 100%;
    width: 100%;
}
.header-auth-user-options-header-avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    fill: #e7e7e7;
}
.header-auth-username {
    font-size: 13px;
    font-weight: bold;
    margin-left: 8px;
}
#header-auth-user-options-container {
    position: absolute;
    z-index: 3;
    top: 100%;
    right: 0;
    width: 240px;
    height: 340px;
    background-color: rgb(17, 18, 19);
}
#header-auth-user-options-header {
    padding: 10px 14px;
    border-bottom: 2px solid rgb(27 29 30);
}

#header-logout-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#header-discover-box {
    position: absolute;
    display: none;
    left: 0;
    top: 51px;
    width: 100%;
    padding: 18px;
    box-sizing: border-box;
    background-color: rgb(23, 24, 26);
    color: white;
}

#header-discover-title {
    font-size: 20px;
    letter-spacing: 2px;
}

.header-discover-section {
    margin: 0 30px;
}

.header-discover-section-title {
    display: block;
    user-select: none;
    cursor: default;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1.2px;
    color: #dde4ea;
    margin-bottom: 12px;
}

#header-discover-expand-button {
    width: 12px;
    min-width: 12px;
    height: 12px;
    padding: 3px;
    margin-left: -6px;
    margin-right: 6px;
    border-radius: 50%;
    background-color: #272b31;
    fill: white;
    cursor: pointer;
    transition: all 0.2s ease;
}
#header-discover-expand-button:hover {
    background-color: #3b414a;   
}

.close-discover-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 34px;
    width: 34px;
    min-width: 34px;
    border-radius: 50%;
    background-color: #0000006b;
    color: white;
    margin-left: 16px;
    font-size: 15px;
}
.close-discover-panel:hover {
    background-color: #000;
}

header .link {
    display: flex;
    color: #ececec;
    text-decoration: none;
    margin: 8px;
    font-size: 14px;
}
header .link:hover {
    color: white;
}
