#welcome-image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 51px);
    overflow: hidden;
}

#welcome-image {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: fit-content;
}

#above-welcome-section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    padding-top: -20px;
    background: linear-gradient(150deg, rgba(0, 0, 0, 0.66) 0%, rgba(10, 27, 45, 0.42) 100%);
    z-index: 1;
}
#logo-above-title {
    height: 50px;
    fill: white;
}
.title-feather {
    width: 24px;
    height: 24px;
    fill: white;
}
#welcome-title-and-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -56px;
}
#welcome-title {
    text-align: center;
    font-size: 32px;
    width: 65%;
    letter-spacing: 1.5px;
    line-height: 1.3;
    margin: 14px 0;
}
#welcome-text {
    text-align: center;
    letter-spacing: 3px;
    font-size: 15px;
    line-height: 2;
    width: 66%;
    margin: 0 0 14px 0;
}

#move-down-button {
    position: absolute;
    z-index: 2;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    width: 34px;
    height: 34px;
    bottom: 20px;
    transition: all 0.2s ease;
}
#move-down-button:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

#discover-button {
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 20px;
    margin-top: 16px;
    color: white;
    fill: white;
    text-decoration: none;
    border: 2px solid white;
    background-color: #ffffff05;
    border-radius: 2px;
    letter-spacing: 1.8px;
    transition: all 0.2s ease;
}
#discover-button:hover {
    color: #2ca0ff;
    border-color: #2ca0ff;
    fill: #2ca0ff;
}
#discover-button .compass {
    width: 20px;
    height: 20px;
    transition: all 0.4s ease;
}

#features-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.section-title {
    margin-bottom: 0;
    color: #1b1d1e;
    font-size: 25px;
    letter-spacing: 1.8px;
    text-align: center;
}

.section-brief-title {
    font-size: 16px;
    letter-spacing: 2px;
    color: #282828;
    margin: 10px 0;
    text-align: center;
}

.features-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 44px;
}

.feature-box {
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-icon {
    fill: #2ca0ff;
    width: 46px;
    height: 46px;
}

.feature-title {
    font-size: 17px;
    letter-spacing: 1.4px;
    margin: 12px 0;
}

.feature-description {
    /* display: none; */
    color: #1c1e1f;
    text-align: center;
    letter-spacing: 1.4px;
    margin: 0;
    font-size: 13px;
}

#newsletter-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 46px 40px 40px 40px;
    text-align: center;
}

#newsletter-section .icon {
    width: 64px;
    height: 64px;
    margin-bottom: 25px;
}

#newsletter-section .title {
    letter-spacing: 1.6px;
    font-weight: bold;
    font-size: 17px;
    color: #181c1f;
}

#newsletter-section .description {
    margin-bottom: 16px;
    letter-spacing: 1.6px;
    color: #181c1f;
}

#newsletter-viewer-container {
    width: 640px;
}

/* Featured posts */

#featured-posts-section {
    box-sizing: border-box;
    padding: 24px;
    height: 380px;
    border-top: 1px solid #d6dee0;
    border-bottom: 1px solid #d6dee0;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 24px;
    overflow: hidden;
}

#featured-posts-section .featured-post-component {
    display: flex;
    flex-direction: column;
    width: 300px;
    min-width: 300px;
    border: 1px solid #b1bac1;
    border-radius: 3px;
}

#featured-posts-section .featured-thumbnail-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dae0e6;
    height: 120px;
    min-height: 120px;
    border-bottom: 1px solid #b1bac1;
    overflow: hidden;
    border-radius: 3px 3px 0 0;
}

#featured-posts-section .f {
    width: 36px;
    height: 36px;
}

#featured-posts-section .featured-post-component .content-container {
    display: flex;
    flex-direction: column;
    padding: 12px;
    height: 100%;
}

#featured-posts-section .featured-post-component .category {
    font-size: 11px;
    letter-spacing: 1.2px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

#featured-posts-section .featured-post-component .excerpt {
    line-height: 1.3;
    letter-spacing: 0.4px;
    color: #171717;
    font-size: 13px;
    margin: 6px 0;
}

#featured-posts-section .featured-post-component .read-more {
    color: #2ca0ff;
    margin-left: 6px;
    text-decoration: none;
}
#featured-posts-section .featured-post-component .read-more:hover {
    text-decoration: underline;
}

#featured-posts-section .featured-post-component .title {
    display: flex;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: rgb(30, 116, 208);
    line-height: 1.3;
    letter-spacing: 0.5px;
}

#featured-posts-section .featured-post-component .author-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 6px;
}

#featured-posts-section .featured-post-component .author-name {
    display: flex;
    font-size: 15px;
    font-weight: bold;
    color: #181c1f;
}

#featured-posts-section .featured-post-component .author-role {
    display: flex;
    font-size: 12px;
    color: #181c1f;
}

#featured-posts-section .featured-post-component .reactions-box {
    align-self: flex-end;
}

@media only screen and (max-width: 1100px) {
    #welcome-image {
        height: 100%;
        width: auto;
    }
}

@media only screen and (max-width: 700px) {
    #logo-above-title {
        height: 46px;
    }

    #welcome-title {
        font-size: 26px;
        width: 80%;
    }

    #welcome-text {
        width: 80%;
        font-size: 13px;
    }

    .feature-box {
        width: 80%;
    }

    #newsletter-section {
        padding: 46px 18px 40px 18px;
    }

    #newsletter-section .icon {
        width: 54px;
        height: 54px;
    }

    #newsletter-section .title {
        font-size: 14px;
    }

    #newsletter-section .description {
        font-size: 12px;
    }

    #newsletter-viewer-container {
        width: 96%;
        padding: 46px 10px;
    }

    #newsletter-viewer-container .logo {
        width: auto;
        height: 38px;
    }

    #newsletter-viewer-container .title {
        font-size: 12px;
    }

    #newsletter-viewer-container .description {
        font-size: 15px;
    }

    #newsletter-viewer-container .name, #newsletter-viewer-container .email {
        width: 92%;
    }
}

@media only screen and (max-width: 400px) {
    #logo-above-title {
        height: 38px;
    }

    .title-feather {
        width: 20px;
        height: 20px;
    }

    #welcome-title {
        font-size: 19px;
        width: 90%;
        letter-spacing: 1.9px;
        line-height: 1.8;
        margin: 18px 0;
    }

    .feature-box {
        width: 90%;
    }

    .section-title {
        font-size: 18px;
        width: 90%;
    }

    .section-brief-title {
        font-size: 12px;
        width: 90%;
    }

    #newsletter-section .icon {
        width: 46px;
        height: 46px;
    }

    #newsletter-viewer-container .logo {
        width: auto;
        height: 34px;
    }
}