#welcome-image-container {
    position: relative;
    display: flex;
    align-items: center;
    height: calc(100vh - 54px);
    overflow: hidden;
}

#welcome-image {
    position: absolute;
    width: 100%;
    height: fit-content;
}

#above-welcome-section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    padding-top: -20px;
    background: linear-gradient(150deg, rgba(0, 0, 0, 0.66) 0%, rgba(10, 27, 45, 0.42) 100%);
    z-index: 1;
}
#welcome-title-and-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -56px;
}
#welcome-title {
    text-align: center;
    font-size: 38px;
    width: 65%;
    letter-spacing: 1.5px;
    line-height: 1.3;
    margin-bottom: 4px;
}
#welcome-text {
    text-align: center;
    letter-spacing: 3px;
    font-size: 15px;
    line-height: 2;
    width: 66%;
}

#move-down-button {
    position: absolute;
    z-index: 2;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    width: 34px;
    height: 34px;
    bottom: 36px;
    transition: all 0.2s ease;
}
#move-down-button:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.discover-button {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 2px;
    letter-spacing: 1.8px;
}
.discover-button svg {
    width: 20px;
    height: 20px;
    fill: white;
}

#second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#second-section .title {
    margin-bottom: 0;
    color: #1b1d1e;
    font-size: 29px;
    letter-spacing: 2.5px;
}

#second-section .title-text {
    font-size: 18px;
    letter-spacing: 2px;
    color: #282828;
}

.features-box {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.feature-box {
    width: 20%;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-icon {
    fill: #101213;
    width: 80px;
    height: 80px;
}

.feature-title {
    font-size: 18px;
    letter-spacing: 1.8px;
    margin: 8px 0;
}

.feature-description {
    color: #1c1e1f;
    text-align: center;
    letter-spacing: 1.4px;
    margin: 0;
    font-size: 13px;
}
