#welcome-image-container {
    position: relative;
    display: flex;
    align-items: center;
    height: calc(100vh - 54px);
    overflow: hidden;
}

#welcome-image {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: fit-content;
}

#above-welcome-section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    padding-top: -20px;
    background: linear-gradient(150deg, rgba(0, 0, 0, 0.66) 0%, rgba(10, 27, 45, 0.42) 100%);
    z-index: 1;
}
#welcome-title-and-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -56px;
}
#welcome-title {
    text-align: center;
    font-size: 38px;
    width: 65%;
    letter-spacing: 1.5px;
    line-height: 1.3;
    margin-bottom: 4px;
}
#welcome-text {
    text-align: center;
    letter-spacing: 3px;
    font-size: 15px;
    line-height: 2;
    width: 66%;
}

#move-down-button {
    position: absolute;
    z-index: 2;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    width: 34px;
    height: 34px;
    bottom: 20px;
    transition: all 0.2s ease;
}
#move-down-button:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

#discover-button {
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 20px;
    margin-top: 16px;
    color: white;
    fill: white;
    text-decoration: none;
    border: 2px solid white;
    background-color: #ffffff05;
    border-radius: 2px;
    letter-spacing: 1.8px;
    transition: all 0.2s ease;
}
#discover-button:hover {
    color: #2ca0ff;
    border-color: #2ca0ff;
    fill: #2ca0ff;
}
#discover-button .compass {
    width: 20px;
    height: 20px;
    transition: all 0.4s ease;
}

#features-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.section-title {
    margin-bottom: 0;
    color: #1b1d1e;
    font-size: 30px;
    letter-spacing: 2.5px;
}

.section-brief-title {
    font-size: 17px;
    letter-spacing: 4px;
    color: #282828;
    margin: 10px 0;
}

.features-box {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.feature-box {
    width: 20%;
    margin: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-icon {
    fill: #101213;
    width: 70px;
    height: 70px;
}

.feature-title {
    font-size: 18px;
    letter-spacing: 1.8px;
    margin: 8px 0;
}

.feature-description {
    color: #1c1e1f;
    text-align: center;
    letter-spacing: 1.4px;
    margin: 0;
    font-size: 13px;
}

#featured-posts-section {
    height: 350px;
    background-color: #eceff0;
}