main {
    margin-left: 260px;
}

#left-panel {
    position: fixed;
    z-index: 1;
    left: 0;
    height: calc(100% - 51px);
    width: 260px;
    box-sizing: border-box;
    background-color: #f3f6f9;
    border-right: 1px solid #dde5ec;
    transition: all 0.1s ease;
}

#left-panel-inner {
    display: flex;
    flex-direction: column;
    padding: 20px 0 12px 24px;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
}

#left-panel-toggle-button {
    height: 50px;
    width: 26px;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 0 4px 4px 0;
    position: absolute;
    top: 50%;
    right: -26px;
    z-index: 12;
    background-color: #f3f6f9;
    border: 1px solid #c3cad0;
    border-left: unset;
    fill: #414951;
    cursor: pointer;
}
#left-panel-toggle-button:hover {
    background-color: #e8ecf0;
    fill: #414951;
}

#left-panel-toggle-button .arrow {
    width: 12px;
    height: 12px;
    transition: all 0.2s ease;
}

#left-panel .categories-wrapper {
    margin: 10px 0;
}

#left-panel .category-container {
    position: relative;
    margin: 8px 0 8px 8px;
}

#left-panel .category {
    display: block;
    color: #24292f;
    text-decoration: none;
    font-size: 13px;
}
#left-panel .category:hover {
    color: #101214;
    text-decoration: underline;
}

#left-panel .category-toggle-button {
    display: flex;
    margin-left: 4px;
    padding: 4px;
    border-radius: 2px;
    background-color: #dce4ec;
    border: 1px solid #c0ccd9;
    cursor: pointer;
}
#left-panel .category-toggle-button:hover {
    background-color: #cad2da;
}

#left-panel .category-toggle-arrow {
    width: 7px;
    height: 7px;
    fill: #4f5660;
}

#left-panel .category-children-container {
    flex: 1;
    background-color: #aeb9ca2e;
    border-radius: 4px 0 4px 4px;
}

#left-panel .category-children-angle {
    width: 8px;
    height: 8px;
    fill: #a6b1bf;
    margin: 0 4px;
}

#left-panel .section {
    margin-left: 12px;
}

#left-panel .tags-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    padding-right: 4px;
    margin: 12px 0;
}

#left-panel .tag {
    color: #101214;
    text-decoration: none;
    font-size: 12px;
    background-color: #d8dee6;
    border-radius: 3px;
    padding: 3px 8px;
}
#left-panel .tag:hover {
    background-color: #c6cdd6;
}

#left-panel .section-title {
    display: block;
    margin: 12px 0;
    color: #52585e;
    font-weight: bold;
    font-size: 11px;
}

#left-panel .link {
    font-size: 13px;
    text-decoration: none;
    color: #24282d;
    display: flex;
}
#left-panel .link:hover {
    color: #2ca0ff;
    fill: #2ca0ff;
}

#left-panel .auth-section {
    background-color: #e0e6ee;
    padding: 10px;
    margin-top: 8px;
}

#left-panel .auth-button {
    cursor: pointer;
}
#left-panel .auth-button:hover {
    cursor: pointer;
    background-color: #d0d8e2;
}

#left-panel .search-box, #left-panel .categories-box, #left-panel .tags-box {
    margin-top: 6px;
    margin-bottom: 6px;
}

#left-panel-search-input {
    padding: 8px 8px;
    font-size: 12px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #BECAD9;
    color: #1f2426;
}

#left-panel-search-button {
    border: unset;
    background-color: #3ca4ff;
    height: 32px;
    width: 36px;
    fill: white;
    border-radius: 0 3px 3px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 4px;
}
#left-panel-search-button:hover {
    background-color: #3391e4;
}

#left-panel .quote-section {
    display: flex;
    justify-content: center;
    margin-left: -24px;
}
#left-panel .quote-section .start-quotation {
    width: 24px;
    height: 24px;
}
#left-panel .quote-section .quote {
    margin: 10px 10px 0 10px;
    color: #232B33;
    user-select: none;
}
#left-panel .quote-section .end-quotation {
    width: 16px;
    height: 16px;
    margin-top: 25px;
}

@media only screen and (max-width: 1250px) {
    main {
        margin-left: 0;
    }

    #left-panel {
        left: -260px;
    }

    #left-panel-toggle-button {
        display: flex;
    }
}