.post-component {
    display: flex;
    border: 1px solid #c6d0d9;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 10px;
    min-height: 200px;
}

.post-component .thumbnail-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    max-height: 200px;
    border-right: 1px solid #c6d0d9;
    background-color: #fafafb;
    overflow: hidden;
}

.post-component .content-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex: 1;
}

.post-component .title {
    display: block;
    margin: 0 0 5px 0;
    font-weight: bold;
    text-decoration: none;
    color: #2ca0ff;
    font-size: 18px;
}

.post-component .excerpt {
    color: #15171a;
    margin: 0;
}

.post-component .category {
    text-decoration: none;
    font-size: 12px;
    color: #0b395f;
}

.post-component .categories-others {
    font-size: 11px;
    display: flex;
    margin-left: 5px;
    color: #2a2d2f;
}

.post-component .f {
    height: 52px;
    width: 52px;
    fill: #899baa;
}

.post-component .post-bottom-section {
    display: flex;
    margin-top: auto;
}

.post-component .author-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 6px;
}

.post-component .tags-box {
    margin: 8px 0;
    display: flex;
}

.post-component .tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.post-component .tag {
    text-decoration: none;
    color: black;
    background-color: #e6eaee;
    border-radius: 3px;
    padding: 3px 8px;
    font-size: 12px;
}

.post-component .tag:hover {
    background-color: #d1d9e2;
}

@media only screen and (max-width: 1000px) {
    #posts-box {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .post-component {
        flex-direction: column;
        width: calc(50% - 7px);
    }

    .post-component .thumbnail-image-container {
        border-right: none !important;
        width: auto !important;
        border-bottom: 1px solid #c6d0d9;
        height: 150px;
        max-height: 150px;
        overflow: hidden !important;
    }

    .post-component .content-container {
        padding-top: 6px !important;
    }

    .post-component .post-bottom-section {
        padding-top: 16px;
    }

    .post-component .excerpt {
        font-size: 13px;
    }
}

@media only screen and (max-width: 850px) {
    .post-component .post-bottom-section {
        gap: 8px;
        flex-direction: column;
    }
}

@media only screen and (max-width: 610px) {
    .page-path {
        font-size: 12px;
    }

    .title-icon {
        width: 18px;
        height: 18px;
    }

    .title-style {
        font-size: 20px;
    }

    .sub-title {
        font-size: 13px;
    }

    .posts-title-and-pagination {
        flex-direction: column;
        align-items: unset;
    }

    .posts-title-and-pagination .pagination-box {
        margin-left: auto;
    }

    .post-component {
        width: 100%;
    }

    .post-component .category {
        font-size: 11px;
    }

    .post-component .f {
        width: 36px;
        height: 36px;
    }
}