.post-component {
    display: flex;
    border: 1px solid #c6d0d9;
    border-radius: 3px;
    margin-bottom: 10px;
}

.post-component .featured-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 200px;
    border-right: 1px solid #c6d0d9;
    background-color: #fafafb;
    overflow: hidden;
}

.post-component .content-container {
    display: flex;
    flex-direction: column;
    padding: 12px;
    flex: 1;
}

.post-component .title {
    display: block;
    margin: 0 0 5px 0;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    color: #2ca0ff;
}

.post-component .excerpt {
    color: #15171a;
    margin: 0;
}

.post-component .category {
    text-decoration: none;
    font-size: 12px;
    color: #0b395f;
}

.post-component .f {
    height: 60px;
    width: 60px;
    fill: #899baa;
}

.post-component .post-bottom-section {
    display: flex;
    margin-top: auto;
}

.post-component .author-avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 6px;
}

.post-component .tags-box {
    margin: 8px 0;
    display: flex;
}

.post-component .tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.post-component .tag {
    text-decoration: none;
    color: black;
    background-color: #e6eaee;
    border-radius: 3px;
    padding: 3px 8px;
    font-size: 12px;
}

.post-component .tag:hover {
    background-color: #d1d9e2;
}