.quote-after-title {
    letter-spacing: 1px;
    font-size: 13px;
    margin-top: 4px;
    color: #15171a;
}

#privacy-main {
    padding: 12px;
    margin-bottom: 26px;
}

#privacy-main h2 {
    color: #15171a;
    margin-bottom: 8px;
}

#privacy-main p {
    line-height: 1.5;
}

#privacy-main li {
    margin: 6px 0;
}