.quote-after-title {
    letter-spacing: 1px;
    font-size: 13px;
    margin-top: 4px;
    color: #15171a;
}

#privacy-main {
    padding: 12px;
    margin-bottom: 26px;
}

#privacy-main h2 {
    color: #15171a;
    margin-bottom: 8px;
}

#privacy-main p {
    line-height: 1.5;
}

#privacy-main li {
    margin: 6px 0;
}

@media only screen and (max-width: 620px) {
    body {
        font-size: 13px;
    }

    h2 {
        font-size: 14px;
    }

    .page-padding {
        padding: 10px;
    }

    .title-style {
        font-size: 20px;
    }

    .quote-after-title {
        font-size: 12px;
    }

    #guidelines-main {
        margin-bottom: 8px;
    }
}