#profile-card {
    display: flex;
    padding: 12px;
    background-color: #f7f9fb8f;
    border: 1px solid #d5dce1;
    border-radius: 4px;
    margin-bottom: 12px;
}

.user-avatar {
    width: 210px;
    height: 210px;
    border-radius: 50%;
}

.user-avatar-container {
    position: relative;
}

.user-meta {
    margin-left: 38px;
}

.links-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 22px;
    margin-bottom: 12px;
}

.links-container a {
    text-decoration: none;
}

.user-fullname {
    color: #202327;
    font-size: 30px;
    margin: 0;
}

.user-username {
    color: #3b4047;
    font-size: 18px;
}

.dot-separator {
    margin: 10px 8px;
    font-size: 10px;
    color: #7d6f6f;
}

.about-section {
    display: flex;
    align-items: center;
    gap: 8px;
}

.about-section .title {
    font-weight: bold;
    white-space: nowrap;
}

.about-section .content {
    color: #202327;
    margin: 0;
    letter-spacing: 0.4px;
    line-height: 1.4;
}

.profile-edit-avatar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 3px;
    padding: 8px 10px;
    position: absolute;
    top: -4px;
    right: -7px;
    text-decoration: none;
    color: #444;
    border: 1px solid #cacaca;
}

.profile-edit-avatar .icon {
    width: 15px;
    height: 15px;
    display: flex;
    fill: #444;
    margin-right: 6px;
}

.title-and-pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width: 700px) {
    #profile-card {
        flex-direction: column;
        align-items: center;
    }

    .user-avatar-container {
        margin-top: 12px;
    }

    .user-meta {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .links-container {
        justify-content: center;
        margin-top: 12px;
    }

    .user-fullname {
        font-size: 28px;
        margin-top: 12px;
    }
}

@media only screen and (max-width: 480px) {
    body {
        font-size: 13px;
    }
    
    .user-avatar {
        width: 180px;
        height: 180px;
    }

    .profile-edit-avatar {
        top: -6px;
        right: -10px;
        font-size: 13px;
        padding: 4px 6px;
    }

    .user-fullname {
        font-size: 20px;
    }

    .user-username {
        font-size: 16px;
    }
}