#search-main {
    margin-bottom: 26px;
    width: 100%;
}

#init-search-container {
    width: 560px;
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#init-search-inputs-container {
    width: 100%;
    margin-top: 12px;
    display: flex;
    align-items: center;
}

.init-search-input-icon {
    position: absolute;
    left: 14px;
    width: 14px;
    height: 14px;
}

#init-search-input {
    flex: 1;
    padding: 10px 44px 10px 36px;
    border: 1px solid #bbc4ca;
    border-radius: 3px 0 0 3px;
}

#init-search-button-icon {
    width: 12px;
    height: 12px;
    fill: #5b5b5b;
    margin-right: 4px;
    margin-top: 1px;
}

#init-search-button {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #bbc4ca;
    margin-left: -3px;
    background-color: #f4f6f7;
    color: #262626;
    cursor: pointer;
}
#init-search-button:hover {
    background-color: #e3e8eb;
}

#init-search-filters-box {
    position: absolute;
    right: 88px;
}

#init-search-filters-box .filter-button {
    display: flex;
    padding: 5px;
    background-color: #d5dde3;
    border-radius: 2px;
    cursor: pointer;
}

#init-search-filters-box .arrow {
    width: 8px;
    height: 8px;
    fill: #313131
}

#init-search-filters-box .filter-panel {
    position: absolute;
    top: calc(100% + 4px);
    background-color: white;
    border: 1px solid #bbc4ca;
    right: 0;
    border-radius: 3px;
    padding: 10px;
}

.search-result-query-text {
    font-size: 18px;
    font-weight: bold;
    margin: 12px 0;
    color: #110e0e;
}

.search-resource-title {
    display: flex;
    align-items: center;
    margin: 0;
}

.search-resource-title .count {
    margin-left: 4px;
    font-size: 14px;
}

#posts-section, #tags-section {
    margin-bottom: 18px;
}

#tags-section {
    display: flex;
    gap: 10px;
}

#authors-section {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

#no-results-found-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#no-results-found-box .icon {
    width: 88px;
    height: 88px;
}

#no-results-found-box .bold-text {
    font-weight: bold;
    font-size: 16px;
    margin: 4px 0 6px 0;
    color: #110e0e;
}

#no-results-found-box .desc-text {
    font-size: 13px;
    margin: 0;
    color: #110e0e;
}

.author-component {
    display: flex;
    padding: 6px;
    margin: 10px 0;
}

.author-avatar {
    height: 36px;
    width: 36px;
    border-radius: 50%;
}

.author-component .name {
    display: block;
    font-weight: bold;
    font-size: 14px;
}

.author-component .name .posts-count {
    font-size: 12px;
}

.author-component .username {
    display: block;
    margin-top: 1px;
    font-size: 12px;
}

#authors-see-more {
    text-decoration: none;
    margin-left: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: #2ca0ff;
}
#authors-see-more .icon {
    width: 15px;
    height: 15px;
    margin-right: 6px;
    fill: #2ca0ff;
    stroke:#2ca0ff;
}

.tags-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;
}

.tag {
    color: #101214;
    text-decoration: none;
    font-size: 12px;
    background-color: #d8dee6;
    border-radius: 3px;
    padding: 3px 8px;
}
.tag:hover {
    background-color: #c6cdd6;
}

.discover-link {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #2ca0ff;
    fill: #2ca0ff;
}
.discover-link .icon {
    width: 14px;
    height: 14px;
    margin-right: 4px;
}

.title-after-search-resource-title {
    display: flex;
    margin: 2px 0;
    color: #313131;
}

/* advanced */
.filter-title {
    font-weight: bold;
}

.selected-categories-for-search {
    padding: 10px;
    background-color: #f4f6f7;
    margin-top: 8px;
    border-radius: 3px;
    overflow-y: auto;
    max-height: 354px;
}

.categories-filter .categories-wrapper {
    margin: 10px 0;
}

.categories-filter .category-container {
    position: relative;
    margin: 8px 0 8px 8px;
}

.categories-filter .category {
    display: block;
    color: #24292f;
    text-decoration: none;
    font-size: 13px;
    margin-right: 6px;
}
.categories-filter .category:hover {
    color: #101214;
    text-decoration: underline;
}

.categories-filter .category-toggle-button {
    display: flex;
    margin-left: 4px;
    padding: 4px;
    border-radius: 2px;
    background-color: #dce4ec;
    border: 1px solid #c0ccd9;
    cursor: pointer;
}
.categories-filter .category-toggle-button:hover {
    background-color: #cad2da;
}

.categories-filter .category-toggle-arrow {
    width: 7px;
    height: 7px;
    fill: #4f5660;
}

.categories-filter .category-children-container {
    flex: 1;
    background-color: #aeb9ca2e;
    border-radius: 4px 0 4px 4px;
}

.filter-box {
    margin-top: 12px;
}

.filter-title {
    width: 196px;
}

.categories-filter .category-children-angle {
    width: 8px;
    height: 8px;
    fill: #a6b1bf;
    margin: 0 4px;
}

.advanced-search-input-container {
    position: relative;
    display: flex;
    align-items: center;
    margin: 8px 0 12px 0;
    width: 84%;
}

.adv-search-button {
    margin-top: 12px;
    padding: 10px 12px;
    border-radius: 3px;
    border: 1px solid #a7b5bb;
    background-color: #e8ecee;
    cursor: pointer;
}
.adv-search-button:hover {
    background-color: #d6dee2;
}

.adv-search-filters-box {
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.adv-search-filter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    padding: 8px;
    background-color: #fdfdfd;
    border: 1px solid gainsboro;
    border-radius: 2px;
}

.adv-search-filter .key {
    font-size: 12px;
    font-weight: bold;
    color: #222628;
}

.adv-search-filter .value {
    font-size: 12px;
    font-weight: bold;
}

.adv-search-filter .category {
    font-weight: bold;
    font-size: 13px;
    padding: 4px 8px;
    background-color: #e7edf0;
    border-radius: 2px;
}

.posts-title-and-pagination {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    justify-content: space-between;
    margin: 8px 0;
}

@media only screen and (max-width: 1000px) {
    .page-padding {
        padding: 10px;
    }

    #posts-box {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .post-component {
        flex-direction: column;
        width: calc(50% - 7px);
    }

    .post-component .featured-image-container {
        border-right: none !important;
        width: auto !important;
        border-bottom: 1px solid #c6d0d9;
        height: 150px;
        max-height: 150px;
        overflow: hidden !important;
    }

    .post-component .content-container {
        padding-top: 6px !important;
    }

    .post-component .post-bottom-section {
        padding-top: 16px;
    }

    .post-component .excerpt {
        font-size: 13px;
    }

    #discover-posts-sort, #discover-posts-count {
        font-size: 11px;
    }

    .title-after-search-resource-title {
        font-size: 13px;
    }
}

@media only screen and (max-width: 850px) {
    .post-component .post-bottom-section {
        gap: 8px;
        flex-direction: column;
    }
}

@media only screen and (max-width: 610px) {
    #init-search-container {
        width: 100%;
    }

    .title-icon {
        width: 18px;
        height: 18px;
    }

    .title-style {
        font-size: 20px;
    }

    .sub-title {
        font-size: 13px;
    }

    .author-component {
        margin: 2px 0;
    }

    .search-resource-title {
        font-size: 14px;
    }
    
    .search-resource-title .count {
        font-size: 14px;
    }

    .title-after-search-resource-title {
        display: none;
    }

    .posts-title-and-pagination {
        flex-direction: column;
        align-items: unset;
    }

    .posts-title-and-pagination .pagination-box {
        margin-left: auto;
    }

    .post-component {
        width: 100%;
    }

    .post-component .category {
        font-size: 11px;
    }

    .post-component .f {
        width: 40px;
        height: 40px;
    }
}