#tags-main {
    flex: 1;
    margin-bottom: 26px;
}

#no-results-found-box .bold-text {
    margin: 7px 0;
    font-size: 18px;
}

#no-results-found-box .desc-text {
    font-size: 16px;
}

#tag-page-description {
    line-height: 1.4;
    width: 80%;
    color: #1e1e1e;
    margin: 4px 0;
    font-size: 15px;
}

#init-search-inputs-container {
    margin-top: 8px !important;
}

#init-search-inputs-container {
    width: 360px !important;
}

#tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 16px;
}

.tag-component {
    display: flex;
    flex-direction: column;
    width: calc(25% - 8px); /* - 8px to reduce space taken by gap */
    box-sizing: border-box;
    padding: 12px;
    border-radius: 3px;
    border: 1px solid #D6D9DC;
}

.tag-component .tag {
    display: flex;
    text-decoration: none;
    color: rgb(15, 15, 15);
    background-color: #e6eaee;
    border-radius: 2px;
    padding: 4px 10px;
    font-size: 12px;
}
.tag-component .tag:hover {
    background-color: #d8dde2;
}

.tag-component .tag-description {
    display: flex;
    font-size: 12px;
    color: rgb(34, 34, 34);
    margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
            line-clamp: 4; 
    -webkit-box-orient: vertical;
}

.tag-component .posts-count {
    display: flex;
    font-size: 12px;
    color: #646d75;
    margin-top: auto;
}

.bottom-pagination {
    margin: 12px 0 20px 0;
}

#no-results-found-box {
    margin-top: 82px;
}

#tag-title {
    margin: 0 6px;
    padding: 3px 10px;
    background-color: #e0e5e8;
    border-radius: 3px;
    color: #191c1e;
}

.n-posts-title {
    font-size: 18px;
    margin: 12px 0 10px 0;
}

@media only screen and (max-width: 870px) {
    #tags-main {
        width: 100%;
    }

    .tag-component {
        width: calc(33% - 5px);
    }

    .tag-component .tag-description {
        font-size: 12px;
    }
}

@media only screen and (max-width: 570px) {
    .tag-component {
        width: calc(50% - 5px);
    }

    #tag-page-description {
        width: 100%;
        font-size: 14px;
    }

    #init-search-inputs-container {
        width: 100% !important;
    }
}