#overview-sections-box {
    display: flex;
    gap: 12px;
}

#overview-sections-box .section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 33%;
    padding: 16px 12px;
    border: 1px solid gainsboro;
    border-radius: 3px;
    background-color: white;
}

.author-requests-box {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.author-request-component {
    padding: 12px;
    border: 1px solid gainsboro;
    border-radius: 3px;
    background-color: white;
}

.author-request-categories-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.author-request-message {
    color: black;
    font-size: 15px;
    line-height: 1.5;
    height: 240px;
    max-height: 240px;
    resize: vertical;
}

#author-request-review-loading-box {
    height: 200px;
}

.request-author-meta {
    display: flex;
    margin-bottom: 12px;
}

#elected-authors-box {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.elected-author-component {
    padding: 12px;
    background-color: white;
    border: 1px solid #d0dae1;
    border-radius: 3px;
}

.elected-author-component .meta {
    display: flex;
}

.author-meta-box {
    background-color: white;
    border: 1px solid #d0dae1;
    padding: 12px;
    margin: 8px 0;
}

.author-meta-box .meta {
    font-size: 12px;
    color: #50565a;
    letter-spacing: 0.6px;
    margin-top: 4px;
}

#author-posts-box {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
