#create-category-section {
    flex: 0.8;
}

#categories-to-manage-section {
    flex: 1;
}

#update-category-informations-section {
    flex: 0.5;
    border: 1px solid #c4ced2;
    padding: 12px;
    border-radius: 3px;
    margin-right: 12px;
}

#update-category-settings-section {
    flex: 0.5;
    border: 1px solid #c4ced2;
    padding: 12px;
    border-radius: 3px;
}

.hierarchy-category-wrapper {
    padding: 6px 4px;
}

.categories-hierarchy-level {
    padding: 6px;
    background-color: #f4f5f782;
    border: 1px solid #dde0e6;
    border-radius: 3px;
}

.expand-subcategories-button {
    height: 16px;
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2324;
    fill: white;
    border-radius: 4px;
    margin-left: 8px;
    padding: 1px;
}

.angle-before-subcategories-box {
    height: 12px;
    width: 12px;
    position: absolute;
    left: -24px;
    top: 0px;
}

.category-manage-section {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.category-manage-informations-section {
    flex: 1;
}

.category-manage-operations-section {
    width: 380px;
    margin-left: 12px;
}

.angle-before-hierarchy-item {
    width: 10px;
    height: 10px;
    min-width: 10px;
    margin-top: 4px;
    margin: 3px 6px 0 3px;
}

/* category settings section */

.category-change-box {
    padding: 12px;
    width: 350px;
    right: 0;
}
.category-status-button {
    cursor: pointer;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid white;
}
.category-status-button:hover {
    background-color: #f9f9f9;
    border-color: #e3e6e8;
}
.category-status-button-selected {
    cursor: default !important;
    background-color: #f9f9f9 !important;
    border-color: #e3e6e8 !important;
}
.angle-before-hierarchy-item {
    width: 10px;
    height: 10px;
    min-width: 10px;
    margin-top: 4px;
    margin: 3px 6px 0 3px;
}

.category-delete-item {
    display: flex;
    padding: 8px;
    border: 1px solid #c5ccd2;
    border-radius: 3px;
    cursor: pointer;
}
.category-delete-item:hover {
    background-color: #f9fbfd;
}