.comments-table-selection-column {
    display: flex;
    justify-content: center;
    width: max-content;
    align-items: baseline;
}
.comments-table-selection-column input {
    margin-top: 2px;
}
.comments-table-commenter-column {
    width: 20%;
}
.comments-table-comment-column {
    flex: 1;
}
.comments-table-in-response-to-column {
    width: 20%;
}
.comments-table-date-column {
    width: 15%;
}

.comment-commenter-box {
    display: flex;
}

.comment-commenter-box .avatar {
    width: 38px;
    height: 38px;
    border-radius: 4px;
    margin-right: 6px;
}

.comment-commenter-box .fullname {
    color: #171717;
    font-weight: bold;
    text-decoration: none;
}

.comment-commenter-box .username {
    font-size: 13px;
    color: #272727;
}

.comment-content {
    font-size: 13px;
    line-height: 1.4;
}

.comment-post-box .title {
    display: block;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #2777b9;
    margin-bottom: 6px;
}

.comment-actions-links {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 4px;
    opacity: 0;
}

.comment-actions-links .link {
    font-size: 12px;
    text-decoration: none;
}

.select-a-comment-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f7fafd;
    padding: 16px;
    border: 1px solid #cdd4db;
    border-radius: 3px;
    margin-top: 26px;
}

.comment-to-manage .commenter-box {
    margin-bottom: 4px;
}

.comment-to-manage .avatar, .report-box .avatar {
    width: 36px;
    height: 36px;
    margin-right: 6px;
    border-radius: 4px;
}

.comment-to-manage .content {
    margin: 8px 0;
    line-height: 1.4;
    font-size: 16px;
}

.report-box {
    display: flex;
    margin: 8px 0;
    gap: 6px;
    padding: 10px;
    border: 1px solid #c6ccd2;
}

.reporter-box {
    max-width: 240px;
    min-width: 240px;
}
