body {
    background-color: #d1dadf1f;
    margin-left: 250px;
}

#admin-left-panel {
    position: fixed;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    left: 0;
    top: 0;
    height: 100%;
    width: 250px;
    background-color: #141617;
}

#admin-left-panel-logo {
    margin: 12px 0;
    width: 208px;
    flex-direction: column;
    fill: white;
    stroke: white;
}

#admin-left-panel-scrollable-box {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
}

.admin-first-side-bar-button {
    border-top: 1px solid #212324;
}

.admin-side-bar-button {
    width: 100%;
    padding: 10px 14px;
    box-sizing: border-box;
    color: #ccc;
    text-decoration: none;
    background-color: #111;
    border-bottom: 1px solid #212324;
    font-size: 12px;
    cursor: pointer;
    user-select: none;
}

.admin-side-bar-button:hover {
    color: white;
    background-color: rgb(14, 14, 14);
}

.admin-side-bar-sub-buttons-box {
    margin-top: 10px;
    margin-left: 20px;
}

.admin-side-bar-sub-button {
    width: 100%;
    display: flex;
    padding: 6px;
    box-sizing: border-box;
    color: #ccc;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    user-select: none;
}

.admin-side-bar-sub-button:hover {
    color: white;
}

.admin-top-page-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
    border-bottom: 1px solid #d0dae1;
}

.admin-page-content-box {
    padding: 14px;
}

