.card-section {
    background-color: rgba(231, 231, 232, 0.16);
    border: 1px solid #d7d7d7;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 12px;
}

.section-card-title {
    display: block;
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    max-width: 100px;
    margin-bottom: 6px;
}

.dashboard-statistics-records-box {
    display: flex;
    gap: 24px;
}

.dashboard-statistics-record {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.dsf-selected {
    cursor: default;
    background-color: #f4f4f4;
}

#new-signups-box {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.signup-user-component {
    display: flex;
    gap: 10px;
    padding: 6px;
    border: 1px solid #d7dbdf;
    border-radius: 3px;
}

#dashboard-columns-box {
    width: 100%;
    display: flex;
    gap: 12px;
}

.dashboard-column {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 50%;
}

.dashboard-section {
    padding: 10px;
    background-color: white;
    border: 1px solid rgb(174, 187, 193);
    border-radius: 3px;
}

#contact-messages-box, #faqs-box, #author-requests-box, #posts-box, #comments-box {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.contact-message-box, .faq-box, .author-request-box, .post-box, .comment-box {
    padding: 8px;
    border: 1px solid #cad1db;
    border-radius: 3px;
}

.contact-message-box .content {
    margin-top: 6px;
    font-size: 13px;
    line-height: 1.4;
}

.faq-box .content {
    margin-top: 4px;
    font-weight: bold;
}

.section-toggle-button {
    display: flex;
    margin-left: 4px;
    padding: 4px;
    border-radius: 2px;
    background-color: #dce4ec;
    border: 1px solid #c0ccd9;
    cursor: pointer;
}
.section-toggle-button .toggle-arrow {
    width: 7px;
    height: 7px;
    fill: #4f5660;
    transition: all 0.2s ease;
}