#create-tag-section {
    flex: 0.65;
}
#tags-section {
    flex: 1;
}

.tags-table-selection-column {
    display: flex;
    justify-content: center;
    width: max-content;
}
.tags-table-selection-column input {
    margin-top: 2px;
}

.tags-table-title-column {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tags-table-slug-column {
    width: 15%;
}
.tags-table-description-column {
    width: 24%;
}
.tags-table-count-column {
    width: 56px;
}