#user-avatar {
    width: 146px;
    border-radius: 4px;
    height: max-content;
}

#user-meta-box {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#user-meta-box .fullname {
    color: #323639;
}

#user-meta-box .username {
    font-size: 18px;
}

#user-meta-box .meta {
    font-size: 13px;
}

.column-sections-box {
    display: flex;
    gap: 14px;
}

.column-section {
    width: 50%;
}

.resources-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.post-component, .comment-component {
    padding: 8px;
    border: 1px solid gainsboro;
    border-radius: 3px;
}

.post-component .title {
    text-decoration: none;
    color: #191a1b;
    font-weight: bold;
}

.comment-component .content {
    font-size: 12px;
    font-weight: bold;
    color: #191a1b;
    text-decoration: none;
}

.comment-component .meta {
    font-size: 11px;
    color: #292d30;
}

.comment-component .post-title {
    font-size: 12px;
    text-decoration: none;
}