#post-management-panel {
    position: fixed;
    overflow-y: auto;
    top: 0;
    right: 0;
    height: 100%;
    width: 260px;
    background-color: white;
    border-left: 1px solid #d0dae1;
}

.post-management-panel-section-header {
    padding: 7px 10px;
    background-color: #F9FAFB;
    border-bottom: 1px solid #d0dae1;
}
.post-management-panel-section-header:hover {
    background-color: #F3F5F7;
}

.post-management-panel-section-content {
    padding: 9px;
    border-bottom: 1px solid #d0dae1;
}

.post-management-cateories-box {
    overflow-y: auto;
    max-height: 214px;
}

.post-tags-wrapper {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 4px;
    cursor: text;
    gap: 4px;
}

.post-tags-input {
    flex: 1; /* take remaining of tags space */
    background: unset;
    border: unset;
    padding: 4px;
    margin-left: 2px;
    box-sizing: border-box;
    min-width: 50px;
}

.post-tag-item {
    padding: 3px 8px;
    background-color: #dee7ec;
    border-radius: 2px;
}

.tag-text {
    display: inline-block;
    white-space: nowrap;
    max-width: 170px;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.post-tag-remove {
    font-size: 11px;
    font-weight: bold;
    margin-left: 3px;
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.featured-image-upload-box {
    position: relative;
    cursor: pointer;
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F5F7;
    border: 1px solid #dae2e6;
    border-radius: 2px;
}
.featured-image-upload-box:hover {
    background-color: #eaeef1;
}

.media-management-viewer-box {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 90%;
    height: 86%;
    border-radius: 2px;
    overflow: hidden;
}

.media-management-content-box {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    min-height: 100px;
    min-width: 200px;
}

.media-library-section {
    height: 100%;
    display: flex;
}
.media-library-media-part {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.media-library-settings-part {
    padding: 12px;
    width: 300px;
    box-sizing: border-box;
    background-color: #F6F8F9;
    border-left: 1px solid #d0d7db;
    overflow-y: auto;
}
.media-library-filter-box {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    box-sizing: border-box;
    height: 58px;
    border-bottom: 1px solid #d0d7db;
}
.media-library-media-container {
    overflow-y: auto;
    padding: 12px;
}
.media-viewer-body-section {
    overflow: auto;
}
.media-viewer-bottom-section {
    display: flex;
    padding: 10px;
    width: 100%;
    margin-top: auto;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border-top: 1px solid #d0d7db;
}

.media-library-items-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
.media-library-item-container {
    position: relative;
    cursor: pointer;
    background-color: #ecf0f2;
    border: 1px solid #bfc6ca;
    border-radius: 2px;
    width: 130px;
    height: 130px;
}
.media-library-item-container:hover, .media-library-media-selectbox:hover {
    border: 1px solid #939a9c;
}
.media-library-item-selected {
    border-color: rgb(35, 117, 172) !important;
    outline: 2px solid rgb(35, 117, 172);
}
.media-library-media-selectbox {
    position: absolute;
    top: -9px;
    right: -9px;
    background-color: #ecf0f2;
    border: 1px solid #8ba1ad;
    border-radius: 2px;
    width: 24px;
    height: 24px;
}
.library-media-image-attachment-container {
    height: 150px;
    width: 150px;
    background-color: #ecf0f2;
    border: 1px solid #8ba1ad;
    border-radius: 2px;
    overflow: hidden;
}

.media-library-bringing-uploaded-media-container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffffe3;
}