
.posts-table-selection-column {
    display: flex;
    justify-content: center;
    width: max-content;
}
.posts-table-selection-column input {
    margin-top: 2px;
}

.posts-table-title-column {
    flex: 1;
}
.posts-table-author-column {
    width: 10%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.posts-table-categories-column {
    width: 15%;
}
.posts-table-tags-column {
    width: 15%;
}
.posts-table-stats-column {
    width: 8%;
}
.posts-table-date-column {
    width: max-content;
    min-width: 170px;
}

.post-actions-links-container {
    opacity: 0;
}