html,
body,
main {
    height: 100%;
}

body {
    margin-right: 260px;
}

.admin-page-content-box {
    display: flex;
    flex-direction: column;
}

.ck-editor__editable_inline {
    min-height: 360px;
}