html, body, main {
    height: 100%;
}

body {
    margin-right: 260px;
}

.admin-page-content-box {
    display: flex;
    flex-direction: column;
}

#content-input-box, #content-input-box .CodeMirror {
    height: 100%;
}

#content-input-box .CodeMirror {
    overflow-y: auto;
}