#main-box {
    padding: 0 40px;
    margin: 46px 0;
}

#raw-post-content {
    white-space: pre-line;
    line-height: 2.4;
    margin-top: -20px;
    font-size: 16px;
    max-height: 360px;
    overflow: hidden;
}

#thumbnail-image {
    width: 100%;
}

#thumbnail-image-container {
    display: flex;
    align-items: center;
    max-height: 300px;
    overflow: hidden;
}

.section-title {
    margin-bottom: 8px;
    color: #2c5270;
}

#display-switch {
    display: flex;
    align-items: center;
    justify-content: center;
}

#display-switch .icon {
    width: 14px;
    height: 14px;
    padding: 15px;
    border-radius: 50%;
    fill: #262626;
    cursor: pointer;
}

#display-switch .icon:hover {
    background-color: #ebebeb;
}

#post-content-box {
    max-width: 720px;
}

h1 {
    color: #2CA0FF;
}

.post-meta-text {
    color: #2d363e;
    font-size: 12px;
    letter-spacing: 1.2px;
    font-weight: bold;
}

#post-author {
    display: flex;
    align-items: center;
    margin: 18px 0;
}

#author-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
}

#author-name {
    display: block;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 1.2px;
    color: #007cff;
}
#author-role {
    font-size: 11px;
    font-weight: bold;
    color: #405466;
    letter-spacing: 1.1px;
}

#post-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin: 18px 0;
}

#post-categories .category {
    text-decoration: none;
    color: #389ef2;
}
#post-categories .category:hover {
    color: #2f85cc;
}

#post-categories .category-separator {
    font-size: 10px;
    user-select: none;
    color: #57636c;
}

#post-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin: 18px 0;
}
#post-tags .tag {
    font-size: 12px;
    font-weight: bold;
    color: #325979;
    text-decoration: none;
    padding: 4px 8px;
    background-color: #e9f2fb;
    border-radius: 3px;
}
#post-tags .tag:hover {
    color: #2b4e6b;
    background-color: #deeaf7;
}